[2014-07-08 19:21] jmwaura opened #16 "Contests allow multiple values for every field"
There seems to be a bug in the `contestType` schema in vip_spec_pending.xsd:

    <xs:complexType name="contestType">
      <xs:choice maxOccurs="unbounded">
        <xs:element name="election_id" type="xs:string" maxOccurs="1"/>
        <xs:element name="electoral_district_id" type="xs:string"/>
        ...
        <xs:element name="candidate" type="candidateType" minOccurs="0"/>
        <xs:elem

[2014-09-05 23:04] jungshadow opened #18 "Should candidates have a status?"
One of the ideas I've been toying with for a while is having a status identifier for candidate elements. We receive data late because states would like to wait until the candidate have been certified, but I feel we're missing a teachable moment about the time when a candidate files to when they're certified to be on the ballot. This may also help in situations where the candidate is on the ballot

[2014-09-16 17:51] jungshadow opened #19 "Element odd_even_both should be required and documented implementation should recommend discarding segment if invalid/missing"
Currently, the `odd_even_both` element on `street_segment` is optional and the implementation states:

In future versions of the spec, the element should be required and, to mitigate any issues on the back end, ignore the entire street segment if missing or invalid.

[2014-09-25 16:41] pkoms opened #20 "Misstatement on referendum ballot response items in spec"
http://votinginfoproject.github.io/vip-specification/#referendumitems :+1:
"If no ballot_response_id field is invalid, the implementation is required to ignore the referendum element containing it."

Should maybe be: "If no ballot_response_id field is present or the field is invalid, the implementation is required to ignore the referendum element containing it."

[2014-10-10 04:12] jungshadow opened #21 "Structured hours for open and close times"
On any element that this applies (e.g. polling_location, early_vote_site), this will allow officials to provide machine-readable hours to data consumers. However, most location hours are largely unstructured partially due to the intake mechanism (i.e. election system) and the hours themselves (i.e. some are by appointment only or vary greatly from day to day). A few related questions:

* Are there

[2014-12-30 01:49] pkoms opened #22 "Better handling of apartments / multi-home lots"
VIP needs to handle apartments / multi-home lots better. My recommendation:

Instead of start_ and end_apartment_number, street segments should have only a single value, apartment_number. Each residence in a multi-residence lot could then be represented as its own address point.

[2015-02-11 19:33] jungshadow commented on #22
@pkoms Thoughts on whether this should be `street_segment.apartment_number` or `street_segment.unit_number` to make it more generic (NB: I'm not sure if "unit" is the appropriate term if it carries other legal definitions, but it seems generic to me). We're looking into other addressing standards, but I didn't want to dismiss this idea, either, especially if the standards still need to account for

[2015-02-11 19:35] pkoms commented on #22
```street_segment.unit_number``` is probably better. Good catch.

[2015-02-18 16:11] pstenbjorn opened #27 "Consistent handling of polling locations, precincts, splits, and streets"
Currently polling locations can be associated with either precincts or precinct splits and early voting sites can be associated with either precincts or localities.  Street segments can similarly be associated with both precincts and precinct splits.  In order to simplify use of the feed, a more consistent association of elements to the lowest common element would be helpful.  Specifically, if all

[2015-02-25 16:50] jungshadow commented on #22
Explicitly dding @jdmgoogle and @pstenbjorn to this conversation given our discussion on addressing standards.

[2015-03-02 17:14] jdmgoogle commented on #16
If we decide to use 1622.2-isms for ballot information this will end up being obsolete. Otherwise I agree with jmwaura's report.

[2015-03-02 17:43] jktomer commented on #22
Some large buildings (and this is only likely to be relevant for fairly large buildings, I think) will have a *lot* of unit numbers, leading to significant street segment inflation in the case of building-dividing precinct boundaries.

I'm not necessarily opposed to this, but it's worth pointing out.

Also, note that our service is pretty poorly suited to dealing with unit numbers at all right now

[2015-03-02 18:03] jktomer commented on #21
Lessons learned from collecting structured polling hours (independently of VIP) for early voting in 2014:

* Time zone information definitely needs to be specified explicitly per polling location. Otherwise you run into painful cases like Phenix City, AL -- whose municipal government runs on Eastern Time despite the fact that AL is officially in Central Time -- where it's impossible to correctly i

[2015-03-02 18:05] jktomer commented on #18
I don't really see states being willing to supply ballot data for not-yet-certified candidates even if we allow them a way to specify it, but we'd certainly be happy to consume such data were it available.

[2015-03-02 18:40] chip-rosenthal commented on #21
For the VoteATX application (not VIP), I express polling times as an enumerated sequence of (open..close) ranges (each range spanning time contained in a single day). This facilitates database queries to get "best voting place for me right now" type operations.

[2015-03-02 19:31] pkoms commented on #22
I know it'll drive street segment inflation, but that seems like a fair price to pay to support these voters.

Good point that this won't immediately fix the problem. As it is, though, these buildings are getting dropped for being duplicate street segments. Being unable to support unit numbers won't make our situation any worse than the present.

[2015-03-02 19:44] pkoms commented on #21
Two other considerations:
1. An office can have constrained hours *and* be open by appointment only. (e.g., "The office is open by appointment only between 6-8 on Tuesdays.")
2. Some office hours are subject to change on the whim of the authority -- and there's good reason for this, since it's useful for authorities to be able to expand their open hours later on if they find high demand early in t

[2015-03-04 17:06] jungshadow opened #29 "Add the ability to capture national identifiers for all possible geopolitical boundaries"
In one of the recent pushes 25200a9398a03f0b9709e64bbfff62f1a80b4c5b to the vip5 branch, the common_id element was added to `electoral_district`. We should add this to other geopolitical elements as well (e.g. `locality`, `precinct`, et al), understanding that VIP may need to communicate with the [OCDIDs](http://opencivicdata.readthedocs.org/en/latest/ocdids.html) community around any issues we ha

[2015-03-04 17:33] jungshadow commented on #19
@nomadaisy Flagging this conversation for you, since you're working on the docs.

[2015-03-04 18:08] jungshadow opened #30 "Limit the number of types for electoral_district"
The element `electoral_district.type` is currently a string, which allows any value. This could be an enumerated list of types (e.g. state senate, congressional, et al...). The data in state systems isn't standardized and this could be difficult on VIP's end to structure, but it's easy to see the benefits of structuring the information. This issue is related to #29.

[2015-03-04 18:19] pstenbjorn commented on #30
If the use of ocdids is pursued, the enumerations for electoral_district.type might be inherited from the ocdid keys.  E.g. in the ocdid
division/country:us/state:ma/county:norfolk/school_district:cohasset
There are four district types identified, country, state, county, and school_district.

As @jungshadow mentioned, each state may have its own localization of a type and we have discussed adding

[2015-03-06 03:44] jungshadow commented on #21
Moving this into 5.0 since we seem to have some general consensus on this.

[2015-03-07 02:32] cjerdonek opened #36 "Description of Contest object's number_voting_for is same as number_elected"
In the current web site documentation (Version 3.0), the description of the [Contest](http://votinginfoproject.github.io/vip-specification/#contestitems) object's `number_voting_for` tag is the same as the description for `number_elected`.

The description for `number_voting_for` reads--

If this is supposed to be the same, a clarifying note would help.

[2015-03-07 02:39] cjerdonek opened #37 "Support specifying the number of write-in places"
Currently, the `write_in` field is a simple yes or no.  It would be better if the field specified the number of write_in spaces (e.g. in "vote for N" races).

[2015-03-07 02:46] cjerdonek opened #38 "Support RCV voting style"
It would be good if the specification let one specify that ranked-choice voting (RCV) is being used in a contest.  Also, it would probably make sense to let one specify the number of candidates that the ballot lets one rank in this case (e.g. three in San Francisco).

[2015-03-07 02:54] cjerdonek commented on #18
In San Francisco at least, there is also a status of "Qualified Write-In."  These are candidates whose names do not appear on the ballot, but whose votes will be tabulated if they are marked in the write-in space.  Because the names of these candidates do not appear on the ballot (and because I believe the names must be spelled correctly), each polling place is required to display a sheet listing

[2015-03-07 18:33] cjerdonek opened #39 "Support providing text field data in multiple languages"
For all text fields, the spec should have a way to allow providing that information in multiple languages.  In San Francisco, for example, it is a requirement that all election information be provided in English, Spanish, and Chinese (as well as in Filipino starting January 1, 2016).

Currently, it seems like VIP consumers wouldn't be able to meet the same language requirements that jurisdictions

[2015-03-07 18:38] cjerdonek opened #40 "Changelog missing from web documentation"
The web documentation has a link to a "Changelog" in the left column under "Revision History," but there is no Changelog section.

[2015-03-09 13:22] jdmgoogle commented on #38
I'll be putting forth a proposal to merge the ballot information portions of the IEEE P1622.2 election night reporting standard with VIP. The P1622.2 standard supports RCV.

[2015-03-09 17:42] cjerdonek commented on #38
@jdmgoogle Thanks. A few questions on the above:

1. Is there a newer version of the draft standard than what is posted on the VSSC 1662 web site [here](http://grouper.ieee.org/groups/1622/groups/2/index.html) (under "2014-11-24 Version for 1st round IEEE balloting"). That version doesn't seem to support RCV beyond including "IRV" in the "VoteVariation" enum.

2. Do you have an estimate on when yo

[2015-03-09 19:17] jungshadow commented on #40
Hi, @cjerdonek. On a general note, it's great to have you digging in here. As for the issue at hand, since we've been on GitHub, we've retired the changelog for the issues and pull-request discussions as they tend to be substantially more meaningful. Apparently, we forgot to remove all of its remnants. We'll update the current documentation.

@nomadaisy Would you mind taking this one on, since you

[2015-03-09 19:29] cjerdonek commented on #40
Hi @jungshadow, thanks, and you're welcome.  I do have a couple higher-level thoughts / questions about the organization of the various versions, but I'll hold off on mentioning those until I gain a little more familiarity with the project.

Regarding this issue, as an interested observer, I do think that a simple list of the changes from one version to the next would go a long way towards helping

[2015-03-09 21:22] MariaDemocracyWorks commented on #18
I think this is interesting, but like Jared mentioned, I'm not sure how many of the EMS systems you could pull these labels from. We generally don't get data before the candidates are certified, though if we were able to display this data, maybe that would change.

[2015-03-09 21:31] cjerdonek commented on #18
The City and County of San Francisco uses DFM's EIMS for its EMS (which is one of the major EMS's in the country), and I'm pretty sure it's set up to store information about the various filing stages that a candidate is in (e.g. dates certain paper forms were submitted, etc).  I could find out for sure if people are interested.

As evidence, here is an HTML table on the Department's web site with

[2015-03-09 21:37] jungshadow commented on #40
Feel free to reach out to us at info@votinginfoproject.org and set up a time to chat if you feel like it might be easier to discuss things over the phone :)

Hmm...I can understand the utility of the changelog. Personally, I'm not a fan of them because of the additional burden it puts on the team to re-digest and regurgitate–to use a rather unpleasant verb–a lot of the tracking that's already been

[2015-03-09 22:35] pstenbjorn commented on #40
@jungshadow I am general agreement that for a schema a changelog is a bit of a burden, however, I think ensuring that pull requests and other commits have reasonably complete comments regarding the nature of the commits it would server a similar purpose.

[2015-03-09 22:40] jungshadow commented on #18
@MariaDemocracyWorks We don't receive candidates because they aren't finalized, but, if we had a mechanism to track and display candidate status, we may be able to convince folks to release the data earlier. I'm sure it would still take some convincing, but, we don't have the fields, we definitely can't.

@cjerdonek Thanks for the info and for looking into it.

We're going to try and fit the 1622.

[2015-03-09 22:43] pstenbjorn commented on #18
@jungshadow maintaining candidate status would assume multiple iterations of candidate data loading.  I am for it in general and agree with you that some of this will be addressed as we look toward 1622.2 interoperability.

[2015-03-09 22:55] cjerdonek commented on #40
I'll make one more comment on this and then stay quiet for a bit. :grinning: One of the use cases for a list of changes to the spec is for implementers and consumers to get a sense of what the breaking changes and enhancements are from one version of the spec to the next (for things like level of effort, incompatibilities, etc).

It seems like it would be hard and a lot messier to have to manually

[2015-03-10 14:30] jungshadow opened #41 "Create a coding style guide"
I'm wondering if we should follow the 1622.2 style guide. I mentioned this in a separate comment to @pstenbjorn a while back. If I were to break them out as a guess:
* attributes seem to be camel-cased (NB: exception being object_id),
* elements seem to be title-cased with no separators, and
* enumerations seem to be lower-cased with hyphens taking the place of spaces.

It would mean a lot of chan

[2015-03-10 14:33] pstenbjorn commented on #41
@jungshadow for readability I agree that following a consistent style is reasonable and if we are going to seek interoperability with 1622.2 it would be best to have consistent styles.

[2015-03-10 16:15] jungshadow commented on #39
I'm adding this to the "Version 5.0" bucket, but there may be some push back. Personally, I want this to happen and soon. It will ultimately come down to how easy it is to incorporate translations in every VR/EMS system (assuming the translation data is even held in either).

I imagine that @pstenbjorn might have some insight on this.

[2015-03-10 16:18] pkoms commented on #18
I like the idea of getting statuses, but it seems likely to open us up to alarm from state partners and campaigns when we get 2-3 days out of date, which is more likely to happen the more granular our statuses are. It's a downstream issue, but I think could potentially be a major one.

[2015-03-10 16:50] pkoms commented on #36
I believe number_voting_for and number_elected should be different. Consider a case like Minneapolis municipal elections: voters vote for multiple (ranked) candidates for mayor, but there's only one mayor.

[2015-03-10 16:52] pkoms commented on #36
(This seems to intersect with #38).

[2015-03-10 16:57] pkoms commented on #40
I'm of two minds here. I also don't want to go through documenting this work bit by bit. On the other hand, the pull requests and their comments can get very granular, and having somewhere I can go for a higher-level survey of the work that's been done would be valuable. I think I lean slightly towards keeping a changelog, at least once we hit 5.0.

Since many of these changes are already describe

[2015-03-10 17:09] cjerdonek commented on #36
Yes, the idea of "number of candidates the voter is allowed to choose" is separate from the idea of "number of winners."  This also comes into play for "vote for N" races, [limited voting](http://en.wikipedia.org/wiki/Limited_voting) (where voters can choose only one candidate even though multiple can win), and cumulative voting.  For cumulative voting though (and to some extent RCV), "number voti

[2015-03-10 17:10] jungshadow commented on #40
@cjerdonek I agree that all of the older updates make it nearly impossible to find out what's changed from release-to-release and the why. This is largely why we deliberately regiment the way we commit, make pull requests, and always have a related issue. To me, I'd prefer to look at everything in the "Version 5.0" Milestone bucket and see why a particular change was made rather than trying to dig

[2015-03-10 17:40] pkoms commented on #37
It seems like we should also support describing whether write-ins can be arbitrary or have to have qualified. Tentatively, I'm starting to think that write-ins should be an optional object rather than a field.

[2015-03-10 17:41] cjerdonek opened #42 "Add Office object"
Currently, the Contest object references the office via an "office" string field.  This issue is to suggest adding an Office object, in which case the contest field would become an office ID.

The advantage of doing this is mostly around DRY.  For example, if we add translations of the office name per issue #39 (which could potentially be many), it would be annoying to have to repeat these same tr

[2015-03-10 17:49] djbridges commented on #42
I think this is a good idea, both on the merits Chris mentions and
(selfishly) because it will make it much easier for ballot information to
play nice with elected official/other civic engagement datasets.

On Tue, Mar 10, 2015 at 12:41 PM, Chris Jerdonek <notifications@github.com>
wrote:

--
Donny Bridges | Director of Civic Data | The Center for Technology & Civic
Life | 202.549.3717 | donny@tec

[2015-03-10 17:51] jungshadow commented on #36
@pkoms @cjerdonek This is all great info, but I might advise suspending any ballot-related discussion until @jdmgoogle incorporates the 1622.2 ballot models. Mostly to save energy. I'm sure we'll have more to discuss when the new models are incorporated :)

[2015-03-10 17:58] jdmgoogle commented on #42
Please see #43.

[2015-03-10 17:59] jdmgoogle commented on #36
Indeed. Please see #43 and we can hammer out the discussion there.

[2015-03-10 18:05] cjerdonek commented on #38
@jdmgoogle Can you respond to the questions I wrote above?  Obviously, you've already answered the first part of (2) :grinning:, but it's not clear to me if what you merged is the latest draft from VSSC or something that they have already adopted.

[2015-03-10 18:10] jdmgoogle commented on #38
@cjerdonek

1) The latest draft available to the public is the one on the website (from 2014/11/24). The latest rough draft isn't available to the public just yet, but I (and some of the people here) have been working to update it based on the public feedback. It should be available to the public for comments in something on the order of a few weeks, but I've been trying to keep the spec here as c

[2015-03-11 15:01] jdmgoogle opened #44 "Use xs:ID and xs:IDREF for identifiers"
We should move away from using xsd:integer and/or xsd:string types as identifiers, and move towards a more strongly typed model using xsd:ID and xsd:IDREF in as many places as is reasonable. This will allow for more rigorous checking of data and types, and allow everyone along the processing chain to verify that references are (at least) to items of the correct type.

Comments? Feedback?

[2015-03-11 15:18] pstenbjorn commented on #44
@jdmgoogle the use of `xs:ID` (or `xsd:ID`) in place of `xs:string` or `xs:integer` for unique identifiers is certainly better practice to ensure global uniqueness.  My comment is that an `xs:ID` is based on the type `xs:NCName` - that means it must begin with an _ or a letter.  Most of the existing systems that generate VIP data generate IDs as integers.  However, to generate the 1622.2 schema I

[2015-03-11 15:20] jdmgoogle commented on #44
Your thoughts, @jktomer?

[2015-03-11 16:21] jungshadow commented on #18
@pkoms This should only be included in states where the update process is constant. There's a huge amount of reward that I personally believe outweighs the risk, but it's the project's responsibility to ensure it's correctly handled. I think we can put protections in place if the data becomes stale (e.g. strip candidate data from a given feed or similar). Additionally, we could reduce the number o

[2015-03-11 21:46] jktomer commented on #44
Bleh, I should have guessed that an `xs:ID` is like a C identifier; I was assuming without attention to the XSD spec that it was free-form. That's pretty annoying and will make life difficult for some data exporters.

On the other hand, I think Hungarian-style IDs ("ss12345" for street segments, "pp12345" for precincts) would probably be helpful in the long run (considering that more than once I'v

[2015-03-12 17:23] jungshadow commented on #44
:+1: for the Hungarian-style IDs. Off the top of my head, I don't think we have any element abbreviation conflicts, but I'll create a new discussion issue that calls for them and one of the exercises will be creating an exhaustive list.

@jktomer I don't think anyone wants to go back to xs:integer :)

[2015-03-12 18:09] jungshadow opened #45 "Create a "best practices" guide for creating a VIP feed."
This is something that @jktomer [brought up](https://github.com/votinginfoproject/vip-specification/issues/44#issuecomment-78379427) in #44. If we move to `xs:ID` and `xs:IDREF`, this could be helpful in having more visually-useful prefixes other than an underscore or a random letter.

[2015-03-12 19:06] jungshadow opened #46 "odd_even_both enumeration values should be reduced to three choices"
There are many string variants in the `oebEnum`. There should be only three (i.e. 'odd', 'even', 'both').

[2015-03-12 22:46] cjerdonek commented on #39
One of my action items from the meeting was to propose something for this issue.

Before coding it, I wanted to describe what I was going for.  My goal was to make adding multi-language support to an element in the schema as simple and DRY as possible, for example by changing this--
[code]
to this--
[code]
A concrete example would look like this--
[code]
Ideally, the following would also be accept

[2015-03-12 23:17] cjerdonek commented on #39
And here is a rough stab at a schema definition for the idea described in the previous comment (I make no claims to have expertise in XML):

[code]

[2015-03-13 00:56] cjerdonek opened #48 "Allow documentation and release notes to be committed with spec changes"
Currently, there is no way to commit documentation updates and release notes (e.g. by adding to the changelog for a version of the spec) when committing spec changes.  This is mainly because (1) the v5.0 documentation file hasn't been started yet, and (2) there is no place to put the release notes / changelog.

Personally, I'm a fan of doing this stuff when changes are first made so that the docum

[2015-03-13 01:00] cjerdonek commented on #41
I would also like to make a plug for using standard line endings (see for example [here](https://help.github.com/articles/dealing-with-line-endings/) and [here](http://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration) on how to configure git, etc).

[2015-03-13 05:06] demcg commented on #41
Yes, a style guide makes it easier to maintain code/documents.

[2015-03-13 12:33] pstenbjorn commented on #39
@cjerdonek this is a good start.  The W3C has defined an xsd type of `xs:language` -  see documentation [here] (http://www.datypic.com/sc/xsd/t-xsd_language.html).

Below is an example based on our conversation using the existing VIP schema.  The `xs:language` element expects valid RFC 3066 language definition - `en-US`.

    <xs:element name="referendum">
          <xs:complexType>
            <x

[2015-03-13 17:35] cjerdonek commented on #39
@pstenbjorn Thanks.  I have two main comments on your proposal.

First, my preference is that the type definition itself include the sequence aspect.  This makes the schema simpler and more DRY (i.e. by not having to include the `maxOccurs="unbounded"` in every usage of the type, but rather just once in the type definition).

Second, I also think it's important that the translations of a particula

[2015-03-13 18:07] cjerdonek commented on #39
Rather than updating my suggestion in the discussion thread, I created a pull request #49 (which also incorporates @pstenbjorn's suggestion to use `xs:language`).

[2015-03-16 18:11] jungshadow opened #50 "Menu links broken on the documentation page"
The top links on the documentation page should have absolute URLs that link back to their respective pages on the Voting Information Project site.

[2015-03-16 19:23] #50 closed

[2015-03-17 04:38] jungshadow commented on #41
@cjerdonek Knowing that @pstenbjorn uses a Windows machine to do most of his work and I'm on a Mac, I personally haven't experienced any issues. Are you encountering issues with the files?

[2015-03-17 05:30] cjerdonek commented on #41
@jungshadow Yes, in that git is flagging any changed lines that don't end in a single newline `\n` (e.g. when using `git-diff` or `git-log` -- see a sample screenshot below).  Git has a setting to normalize files to end in a single newline `\n` (to make things easier for projects having both Windows and Mac OS X committers), but it only works if the files are standardized to end in newlines to beg

[2015-03-17 05:43] cjerdonek commented on #41
[Here](http://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration#Formatting-and-Whitespace) is one of the better descriptions of the problem and solution:

[2015-03-17 09:30] cjerdonek commented on #41
I checked the line endings of the top-level files in the master branch, and this is what I found:

    CRLF: index.html
      LF: README.mdown
    CRLF: sample feed for v2.1.xml
    CRLF: sample feed for v2.2.xml
    CRLF: sample feed for v2.3.xml
    CRLF: sample feed for v3.0.xml
    CRLF: sample_feed_for_v4.0.xml
      LF: sample_feed_for_v5.0.xml
    CRLF: spec_v2.2_documentation.html
      LF

[2015-03-17 12:27] jdmgoogle commented on #38
I contacted Doug Jones at the University of Iowa about how to be parameterize and represent the differences in the different types of voting methods a voter would encounter. Here is his response:

===
IRV refers to a method of detrmining the winner from a collection of ranked-choice ballots.  Ranked-choice refers to a type of ballot where voters can rank their preferences. Ranked choice ballots ca

[2015-03-17 14:44] pstenbjorn commented on #22
This will be committed

    <xs:element name="street_segment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="start_house_number" type="xs:integer" />
              <xs:element name="end_house_number" type="xs:integer" />
              <xs:element name="odd_even_both" type="oebEnum" />
              <xs:element name="non_house_address" type="detailAddressType"

[2015-03-17 16:15] jungshadow commented on #22
Looks good to me. @pkoms?

[2015-03-17 16:16] pkoms commented on #22
Looks good to me too.

[2015-03-17 16:17] pstenbjorn commented on #22
Great.  Look for a pull request that will close this issue..

[2015-03-17 16:18] pkoms commented on #22
Can we hold on closing the issue until we have an analogous CSV proposal? I should have it in by EoW.

[2015-03-17 16:21] jungshadow commented on #48
Agree that we should have working documentation (still disagree with changelog) ;) On @pstenbjorn's next update to vip5, I'll merge the documentation changes from master and we can start editing.

[2015-03-17 16:21] pstenbjorn commented on #22
@pkoms works for me.

[2015-03-17 16:25] jungshadow commented on #22
@pkoms are you sure you want to start the CSV proposals, now? While street_segment should be one of the few stable elements, it may be wise to wait until we have a solid XML prototype.

[2015-03-17 16:33] pkoms commented on #22
It's one of my open to-dos from the VIP Issues Agenda, but I can defer.

[2015-03-17 16:55] cjerdonek commented on #48
I thought during the meeting we agreed to do release notes?  (I called it changelog in parentheses.)  My suggestion above was if we could have a way to add to the release notes when the changes are first committed, instead of literally waiting until when there is a release and having to go back and look for changes, etc.

[2015-03-17 16:57] jungshadow commented on #48
::sigh:: Ribbing is apparently lost in GitHub comments ;)

[2015-03-17 17:03] jungshadow commented on #22
@pkoms I might advise it. We're moving pretty quickly and there are some large-scale changes on the horizon. Although, to play my own devil's advocate, it may be worthwhile to start the process to see if anything sets off an alarm for being too cumbersome/difficult for data collection.

[2015-03-17 17:05] pkoms commented on #22
Right -- I expect that this won't get too cumbersome, so I'm okay deferring it. I'd like to keep Noma's review of CSV implementations of multiple languages open, because I'm afraid that one could get out of hand.

[2015-03-17 17:09] jungshadow commented on #22
@pkoms That's fine, but you or @nomadaisy should make that comment in the correct issue (i.e. #39) otherwise it'll get lost.

[2015-03-17 17:10] jungshadow commented on #41
@cjerdonek Sounds doable. I'll add a .gitattributes file to the vip5 branch and add a separate issue for that particular update. That said, since we'll have a .gitattributes file that enforces LF endings, I don't think it's worth mentioning it in the coding style guide.

[2015-03-17 17:11] jungshadow opened #54 "Add .gitattributes file to enforce LF endings"
There are a number of files that inconsistently have CRLF or LF endings. This is to enforce a single convention.

[2015-03-17 17:19] cjerdonek commented on #22
@pkoms @jungshadow Could one of you briefly describe what needs to be worked out for a CSV implementation (if it's possible to say so briefly)?  I just wanted to understand for the purposes of helping with #39.  Thanks a lot.

[2015-03-17 17:20] cjerdonek commented on #41
@jungshadow awesome, thanks!

[2015-03-17 17:21] pkoms commented on #22
@cjerdonek I'm going to follow up in #39.

[2015-03-17 17:26] pkoms commented on #39
In case it's dropped out of the project consciousness, I'd like to add a reminder here that we should hold on merging in any XML changes until we've considered the implications for CSV design and CSV -> XML transformation. @nomadaisy currently has point on that.

[2015-03-17 18:23] jungshadow commented on #39
@pkoms Hmm...I didn't think we planned to hold on all changes. If you think there may be issues with certain changes, you should definitely flag those (*__NB:__ this is probably one*), but the XML dev should constantly be moving forward. If you are going to request a block, please give a general idea of how long you'll need for an assessment.

[2015-03-17 18:26] pkoms commented on #39
Sorry, poor word choice. I meant to say "merging in any XML changes [on multi-language support.]" Completely agreed that the XML should be constantly moving forward.

We should be considering our CSV options this week.

[2015-03-17 18:36] jungshadow commented on #39
@pkoms Ah...lost in translation :) Great! Thanks!

[2015-03-17 19:09] cjerdonek commented on #39
@pkoms @nomadaisy Could one of you describe what's needed on the CSV side for this, as well as any requirements that have to met?  I may be able to propose something or at least offer some suggestions.

[2015-03-17 19:44] cjerdonek commented on #38
At this point (with respect to pull request #43 and the discussion we had at the meeting), I think the most important things for the spec to capture are--

1. _what_ the voter is supposed to do from an instruction standpoint (e.g. rank up to N candidates, choose up to N candidates, etc), and
2. at the highest level, _how_ the ballots are counted (e.g. [instant runoff](http://en.wikipedia.org/wiki/

[2015-03-17 20:23] cjerdonek commented on #42
I've changed my thinking on this issue a bit since last week and after having a chance to think more and play around with examples.

Rather than trying to model "persistent" objects in VIP at this point like offices and bodies (independent of an election), I think it would be sufficient simply to add an "external_identifiers" collection to the Office type proposed in the 1622.2 PR #43.  This would

[2015-03-17 20:49] pkoms commented on #39
@cjerdonek before I go into any depth, can you let me know how familiar you are with the VIP CSV specification? Knowing that will make it easier to pitch my explanation appropriately.

[2015-03-17 20:57] jungshadow commented on #54
Closed by #55

[2015-03-17 20:57] #54 closed

[2015-03-17 21:01] cjerdonek commented on #39
Thanks, @pkoms.

Not at all, honestly.  But if you point me to documentation and/or a good sample file or two (if those already exist somewhere), I can bring myself up to speed on those aspects.  That way you don't need to explain everything yourself from the beginning.  If the main [VIP docs](http://votinginfoproject.github.io/vip-specification/) have all I need to know, I can just read that.

[2015-03-17 21:07] cjerdonek commented on #39
Okay, it looks like the VIP docs have a quite a bit on this.  A couple CSV approaches occur to me.  I can describe them briefly and see what you think.

[2015-03-17 21:57] cjerdonek commented on #39
Here are a couple CSV approaches.

Both approaches use "resource files," which in the context of internationalization means that the translations are provided in one or more separate files (CSV files in this case).

In both approaches, for item types that contain internationalized strings, the comma-delimited flat file for an item would contain the `internationalized_text_id` as the value for the

[2015-03-17 22:05] cjerdonek commented on #39
One advantage of both approaches above is that it is DRY (and so less verbose).  The translations of a given string of text occur only once in the entire feed (i.e. in the resource file), as opposed to in every occurrence in the feed.

Also, one advantage to Approach 1 above is that support for additional languages can be provided simply by adding a new CSV file for that language, without having t

[2015-03-17 22:09] cjerdonek commented on #41
A few other conventions that I noticed would be useful for a style guide:

* all files encoded in utf-8
* spaces instead of tabs (or vice versa)
* no trailing white space at the end of lines

[2015-03-17 22:41] djbridges commented on #42
No objection here - as long as there's a hook in there, I'm happy.

On Tue, Mar 17, 2015 at 3:23 PM, Chris Jerdonek <notifications@github.com>
wrote:

--
Donny Bridges | Director of Civic Data | The Center for Technology & Civic
Life | 202.549.3717 | donny@techandciviclife.org

[2015-03-18 17:28] pkoms commented on #39
Thanks! We had something close to 2 on the table, but 1 is interesting as well. Tagging @nomadaisy just to make sure these get on her radar.

[2015-03-19 14:36] jdmgoogle commented on #38
I'm following up with Doug Jones about which methods are commonly used in the U.S.

As for your points, regarding (1) I think Doug's framework flexibly describes everything we'd ever want and in a way that could be easy to program. Regarding (2), I think that's what the current VoteVariations enum tries to do, although that's more of a TallyVariations than VoteVariations.

Proposal: create a VoteV

[2015-03-19 16:21] cjerdonek commented on #38
Hmm, I'm not sure abstracting things in the way that Doug suggests would really help things or is even the right way to go.  (I have several issues with the proposed abstraction.)  It also doesn't even address the [original issue](https://github.com/votinginfoproject/vip-specification/commit/cb6948e00dcfc3cead20adb97d23a602bd79ddb5#commitcomment-10157902) I raised with the enum, which was about cu

[2015-03-19 18:01] jdmgoogle commented on #38
Could you describe some of the issues you have with Doug's abstraction?

My understanding of the VSSC working group -- at least what Kenneth described in his presentation in LA last month -- is that they're attempting to come up with a *process* model (not just a data model) for the entire end-to-end election management experience. Unfortunately the website doesn't do a great job of explaining thi

[2015-03-19 18:25] cjerdonek commented on #38
Re: the working group, I was referring to a different working group, namely 1622.6, "Recommended Practice for Voting Methods Mathematical Models," which is described in part:

Re: Wikipedia, I was referring to these sentences in the section I linked to:

I will respond on some of the issues later today.

[2015-03-19 18:28] jdmgoogle commented on #38
Ah okay, I forgot about .6 and was thinking about .4. Which reminds me that I should bring Doug's comments to the attention of the .6 group.

And yes, in my previous comment I was referring to the citations in the block of text you quoted; none of them seem to mention fifty jurisdictions using cumulative voting, although I may have missed it. In which citation link does it mention the fifty jurisd

[2015-03-19 18:28] cjerdonek commented on #38
For more specific support re: the fifty jurisdictions, here is a [FairVote page](http://archive.fairvote.org/?page=2101) with a list.

[2015-03-19 18:37] jdmgoogle commented on #38
Generally speaking, providing links to your own (or own group's) research isn't kosher per Wikipedia, but I did a spot check of several of those jurisdictions and it seems to check out. :)

Getting back to the original point, in which way(s) do you feel that Doug's abstraction doesn't work?

[2015-03-19 21:53] nomadaisy commented on #39
Hi all, I've asked our Dev team, and the easiest thing for them to incorporate would be the single-resource file, like Chris's example 2, with additional columns for the additional languages for that field. I've identified the following fields as display text that should be translated:

*ballot_response.txt: text
*candidate.txt: party, biography
*contest.txt: primary party, electorate_specificatio

[2015-03-19 22:57] cjerdonek commented on #39
@nomadaisy One brief comment re: proper names. Candidate names are one example of a type of proper name provided in other languages, at least in San Francisco.  San Francisco provides them in Chinese.  I imagine that in cases where the language uses different characters, a translation of a proper name would be possible (though I don't know these languages firsthand).

Second, on a slightly differe

[2015-03-20 03:22] cjerdonek commented on #38
Here are some of my comments.  My apologies in advance for the long post, but this is why I warned in a previous comment that I didn't think we should be wading into this direction in the VIP 5 timeframe.  The water can get deep quickly, and the currents strong!

As I said in one of my previous comments, there are about ten jurisdictions in the country using IRV/STV.

Whether or not the below is e

[2015-03-20 14:30] jungshadow commented on #39
@nomadaisy Agree that a single resource file would be easier for the devs on our side, but I'm wondering how difficult it would be for the states to structure the information in that way (i.e. I have a feeling the data isn't linear or in the same system). Adding @Josh-LACRRCC to this conversation to assess since he's the database/ballot/XML expert.

[2015-03-20 16:02] jdmgoogle commented on #38
Thanks for the feedback. Comments inline.

the country using IRV/STV.

By this you mean "there are ten jurisdictions *currently* using one particular variant of RCV/IRV"?

The rest of your comments seem to assume that the only changes needed to this spec are those to support the particular variation of RCV/IRV used by San Francisco. If that's the explicit goal -- as opposed to a more broad definit

[2015-03-20 17:05] jungshadow commented on #38
@cjerdonek @jdmgoogle If we can get a dataset from San Francisco for a previous election, we can absolutely adapt the schema if the current one doesn't work. For now, can we agree to work with the models we have and push these issues "upstream," so to speak (i.e. to VSSC)? I'm concerned that we're spending a lot of time on this one issue and it may be something that should be addressed with the fo

[2015-03-20 17:37] Josh-LACRRCC commented on #39
Here in LA County, we use a contracted vendor for all our translated election materials. We would like to bring the support of various languages into our EMS, but we have not yet begun building specifications for our requirements. We recently produced a bilingual text ballot as a manual process.

A single resource file does cut down on clutter, but operationally; language specific resource files p

[2015-03-20 18:31] cjerdonek commented on #39
FWIW, I learned a little about SF's process this week.  SF also uses a translation vendor.  They have some Excel spreadsheets that are roughly of the form: one word or phrase per row, with different languages in each column.  Those spreadsheets currently have three and a half languages (English, Chinese, and Spanish, and Filipino is still being worked on).  You can see one of the spreadsheets expo

[2015-03-20 20:46] jungshadow commented on #48
I'm going to close this issue, since we can start hacking on the docs now that they're merged. I'm going to open an issue for discussion, specifically on whether we should have separate docs for the CSV spec. I could go either way.

[2015-03-20 20:49] jungshadow opened #60 "Create separate CSV documentation"
Does the CSV format deserve its own documentation or should it be integrated with the XML spec documentation? I can see a lot of overlap, so it may make sense to keep them integrated, but the new spec may also make the resultant CSVs an animal in and of themselves.

[2015-03-20 20:50] jungshadow commented on #48
The CSV format documentation discussion is #60

[2015-03-20 21:12] cjerdonek commented on #60
Personally, I think the CSV format could use its own page, even if the page starts out only as an overview with high-level guidance.

Given that `index.html` is quite large, one thing I was wondering about if there is some way it can be broken up and made DRY and easier to maintain.  For example, it could be made into a template with the chunks for each object type plugged in (a bit like the CSV a

[2015-03-22 22:04] cjerdonek commented on #39
If you're looking for data to play around with, here are some of the translations I mentioned in the previous comment cleaned up and converted to YAML files, one per language: https://github.com/cjerdonek/sf-base-election-data/tree/master/pre_data/i18n/auto

[2015-03-24 02:34] jungshadow opened #61 "Restructure repository and delete superfluous files"
Minimize the number of repository files for subsequent releases. The repository should contain:
* `examples`
* `README.mdown`
* `index.html`
* `vip_spec.xsd`
* `sample_feed.xml`

Delete the following files:
* `sample feed for v2.1.xml`
* `sample feed for v2.2.xml`
* `sample feed for v2.3.xml`
* `sample feed for v3.0.xml`
* `sample_feed_for_v4.0.xml`
* `sample_feed_for_v5.0.xml`
* `spec_v2.2_docume

[2015-03-24 03:27] cjerdonek commented on #61
:+1: !

[2015-03-24 15:27] pkoms commented on #61
I'm almost completely behind this request, but are you sure you want to kill the 3.0 documentation when it will still be supported by Google?

[2015-03-24 15:47] jungshadow commented on #61
@pkoms I'd actually like to make it more accessible. I'm going to post one of my comments on PR #62 here. A few things I didn't outline in my thinking:

1. We tag the current master branch at the latest commit as v3.0 (after a couple of small changes).
    1. This will allow users to easily browse to that point in history.
    2. Additionally, GitHub will archive that commit as a downloadable zip/

[2015-03-24 15:58] pkoms commented on #61
Thanks for expanding on this -- that's what I get for catching up on email last-first. I'll move my comments to the other PR.

[2015-03-26 19:07] jungshadow opened #63 "Various voter services are handled by different local offices at the locality level"
Even after many years in elections, there's always something new to discover :) Just had a conversation with Alabama. Some voter services are run by different entities and sometimes in separate buildings. For example:

* The Probate Judge is the chief election official in the county who deals with the polling places, ballots, and running the election;
* The Board of Registrars, typically 3 or 4 me

[2015-03-26 19:42] cjerdonek commented on #63
@jungshadow Based on your description, to address cases where the entities are completely different, it seems like it would make sense to have an object type corresponding to "entity responsible for some class of voter services," and then have the spec allow including more than one such object per jurisdiction.  The object type could have a free text field describing what they are responsible for

[2015-03-26 22:08] djbridges commented on #63
This disaggregated responsibility (as well as inconsistency in
responsibility assignments even intra-state) is true in many instances -
Texas, Georgia, and New Jersey come to mind immediately. An enum might work
for grouping responsibilities into broad buckets, but there definitely will
need to be a free text component to deal with all of the horrifying & ever
changing variations of responsibility

[2015-03-26 22:17] cjerdonek commented on #63
@djbridges Your image didn't go through.  You should be able to post it on the website though..

[2015-03-26 22:22] djbridges commented on #63
Whoops - once more, with feeling:

![nj_flowchart](https://cloud.githubusercontent.com/assets/1174654/6858439/955854a4-d3dc-11e4-96dc-cf32adf0ee5d.png)

[2015-03-27 02:23] jungshadow commented on #63
@cjerdonek Not to go too far down the speculative rabbit hole, but wouldn't it be easier on both sides (i.e. voter and admin) to have a single number and an automated menu? I don't know a whole lot about the cost of automating phone lines, but I imagine shops like Twilio are making it cheaper/easier. With such a variance of options and granularity, I'm not sure how to break those numbers down into

[2015-03-30 15:06] pkoms commented on #63
@cjerdonek your case about routing different pieces of the office's work to different contacts is accurate: last time I checked, Montgomery County, MD has three different PO Boxes for different kinds of mail, and some SC counties use different phone numbers or different email addresses for different questions. And these are both states that otherwise have only single election offices.

@jungshadow

[2015-03-30 15:18] jungshadow commented on #63
@pkoms I'm all ears for your suggestion ;)

[2015-03-30 15:28] pkoms commented on #63
It's not pretty, and only a notch more DRY, but since you asked....

Create a new election_administration object for every relevant office. Link them all to the state or locality as appropriate.

Move almost all contact information and voter_services into election_official. Add a new election_official to election_administration for every appropriate set of contact information, so if the office has

[2015-03-30 15:51] pstenbjorn commented on #63
@jungshadow some states do maintain lists of voter services offices in state VR systems, some do not.  I think @pkoms suggestion has some merit.

See below for a sample of what I think @pkoms (and @jungshadow) are recommending.

[code]

[2015-03-30 16:44] cjerdonek commented on #63
Here is an idea I had a few days ago for how to represent multiple points of contact that might differ only in a phone number, room number and/or contact person name, etc (any combination basically).

Define a "contact information" object that has all the usual fields you are interested in, including ID.  Then also add a field called something like `parent_contact_information_id`.  The idea here w

[2015-04-02 03:32] jungshadow commented on #39
@cjerdonek Safe to close this issue for now? When we get into the implementation, we can reopen or create a new issue for any CSV conflicts.

[2015-04-02 03:51] jungshadow commented on #21
Closed by #31

[2015-04-02 03:51] #21 closed

[2015-04-02 03:53] jungshadow commented on #27
@pstenbjorn Is this issue closed?

[2015-04-02 03:57] jungshadow opened #66 "Remove yesNoEnum for xs:boolean"
As the title says.

[2015-04-02 04:06] jungshadow commented on #61
Closed by #62

[2015-04-02 04:06] #61 closed

[2015-04-02 04:07] jungshadow commented on #20
@nomadaisy Is this fixed and ok to close?

[2015-04-02 04:25] demcg commented on #41
Can we add a section on attribute ordering in XSD? something like:
1. name
2. type
3. minOccurs
4. maxOccurs

If this is deemed a good idea, I can refactor the current XSD when most of the pull requests have been merged. This will avoid merge conflicts.

[2015-04-02 06:01] demcg commented on #41
I collected the suggestions from this issue into StyleGuide.mdown on the branch feature/StyleGuide.

@cjerdonek - The spaces vs tabs issue is still open, however to get going, I suggested 4 spaces to the tab.

[2015-04-02 06:56] cjerdonek commented on #41
@demcg Great!

Re: tabs vs spaces, yes, I think four spaces is more common.  FWIW, all projects I have been involved with have preferred four spaces.  I believe that is also git's default.

Re: attributes, I would clarify that you mean attribute _names_ as opposed to attribute values.  Also, I think "snake_case" across the board makes more sense for attribute names (e.g. `office_id` as opposed to

[2015-04-02 06:57] cjerdonek commented on #39
Yes, thank you, @jungshadow!

[2015-04-02 06:57] #39 closed

[2015-04-02 07:24] cjerdonek opened #68 "Link to earlier spec versions in README"
The v5 README should tell people how to access older versions of the spec.

[2015-04-02 07:29] cjerdonek commented on #68
See PR #69.

[2015-04-02 07:45] cjerdonek opened #70 "Remove trailing whitespace and tabs"
This issue is to remove trailing whitespace and tabs from the main spec file.

[2015-04-02 07:57] cjerdonek opened #72 "XML comments"
I noticed that a bunch of XML comments that I wrote for the spec in the vip5 branch are no longer present in the latest version of the branch.  Were those intentionally deleted?  The comments were around internationalization (see [here](https://github.com/votinginfoproject/vip-specification/pull/52)).  Are comments discouraged?

[2015-04-02 12:38] pstenbjorn commented on #27
@jungshadow looks like #56 should have closed this.

[2015-04-02 13:45] #46 closed

[2015-04-02 13:48] jungshadow commented on #72
@cjerdonek Hmm...definitely not discouraged, but probably unintentionally destroyed. I'll restore them on the next pull request.

[2015-04-02 16:47] cjerdonek commented on #70
Closed by PR #71.

[2015-04-02 16:47] #70 closed

[2015-04-02 16:48] cjerdonek commented on #68
Closed by PR #69.

[2015-04-02 16:48] #68 closed

[2015-04-02 18:06] #41 closed

[2015-04-02 19:11] #66 closed

[2015-04-02 19:31] #44 closed

[2015-04-02 19:46] #72 closed

[2015-04-02 19:56] demcg opened #74 "Refactor the XSD so that the attribute ordering is the same as listed in the style guide"
The attributes in the XSD files should be ordered in the following manner:

1. name
2. type
3. minOccurs
4. maxOccurs

This is a change that will create many small changes all over the file, so it should be merged when there are not too many open branches with major refactors on them.

[2015-04-02 23:43] cjerdonek commented on #42
Closing this as the 1622.2 related PR #43 added an Office object with external identifiers.

[2015-04-02 23:43] #42 closed

[2015-04-03 00:11] cjerdonek opened #75 "Decide style re: ID attribute names"
I think the style guide should clarify how to name attributes and elements that correspond to ID's.  The two cases that come to mind are--

1. The ID attribute for a type definition (i.e. a primary key).  1622.2 uses `object_id`, but VIP currently has `id`.  The style guide currently says camelCase, but not what the name should be.  I am okay with following the 1622.2 convention.
2. An ID attribut

[2015-04-03 00:24] cjerdonek opened #76 "Decide style re: "top level" objects"
I think it would be good if the style guide documented how to handle the "top-level" object collections, since this comes up a lot.

1622.2 [currently defines](http://grouper.ieee.org/groups/1622/groups/2/WorkingDocuments/V39/ElectionResultsV39.xsd) a named type for each such type, and then a top-level "Collection" element.  For example--

[code]

And VIP often "in-lines" the type definition with

[2015-04-03 15:30] demcg commented on #75
@cjerdonek we can add the additional specifier that PKs should be object_id to the attribute section if that is the way the decision goes. @jungshadow, do we want to align the specifier for ID to 1622, or is it better to keep it the way it is (object_id vs. id)?

All of the xs:IDREF relations in the 1622.2 spec are elements, so they follow the TitleCase format.

As for the name I prefer, PartyID i

[2015-04-03 16:02] cjerdonek commented on #75
@demcg Yes, thanks for pointing that out. I'll fix my OP.

[2015-04-03 16:53] jungshadow commented on #74
This is a great idea and it may be worth capturing now if you're willing to do it, @demcg. I would try to hammer out #75 and #76 at the same time, once we decide those.

@pstenbjorn @jdmgoogle @cjerdonek Sound good to you? If so, let's freeze code changes for a day or two while @demcg is working on this.

[2015-04-03 16:54] pstenbjorn commented on #74
@jungshadow yes, this is needed standardization of the xsd.

[2015-04-03 16:56] cjerdonek commented on #74
@jungshadow Yes, freezing sounds fine.  My only suggestion is to do each "type" of change as a separate PR to make them easier to review.

By the way, there may be more after this if we think of any (e.g. the ordering of type definitions, both where to put them in the doc and ordering them within).

[2015-04-03 16:59] jungshadow commented on #75
@cjerdonek @demcg I'd prefer to keep `id` rather than change to `object_id` for two reasons:

1. `object_id` is the only attribute in 1622 that doesn't follow their own coding guidelines (i.e. snake_cased rather than camelCased).
2. I never understood the need to change `id` to `object_id`. Both are meant to be unique identifiers, so why use `object_id`?

Other than that, I'm good. @pstenbjorn any

[2015-04-03 17:03] cjerdonek commented on #74
By the way, one thing that should be clarified in the guide is that anything that isn't in the list of four things should go afterwards.  In particular, this would mean that "use" would go after "name" and "type".  (I'm assuming that's how we would want to do it.)

[2015-04-03 17:05] demcg commented on #74
I can start this when we hash out #75 and #76

[2015-04-03 17:07] demcg commented on #74
@cjerdonek I agree that "use" should be after "type"

[2015-04-03 17:09] cjerdonek commented on #74
@demcg I would prefer each issue be done separately so it is easier to review.  Also, that way you can start this one without having to wait.

[2015-04-03 17:11] demcg commented on #74
@cjerdonek sounds good, I will start with #74 and get a PR up for it soon

[2015-04-03 17:14] cjerdonek opened #77 "Change xs:string to internationalizedText as appropriate"
This issue is to change "xs:string" to "internationalizedText" as appropriate.

This is something that I believe was done in one of the earlier PR's, but then got lost.  I can take care of this by reviewing the old comments and PR's, and then create a new PR.  I will wait until after the style stuff is done before making the PR.

[2015-04-03 17:18] cjerdonek commented on #75
I will make a PR for this style guide addition (and leave the spec change to @demcg).

[2015-04-03 17:18] pstenbjorn commented on #75
@jungshadow the use of xs:ID attributes named `id` is standard and is what is used to identify primary id values in many schemas.  I am not sure why 1622.2 opted for the `object_id` perhaps to avoid ambiguity between the data type and the data type name.  But I would think the continued use of `id` attribute names for primary identifiers would be reasonable.  For further consideration: In the curr

[2015-04-03 17:20] cjerdonek commented on #75
@pstenbjorn Yes, this will also be incorporated into the style guide.

[2015-04-03 17:39] demcg commented on #74
@cjerdonek, @jungshadow
I noticed a small nit to pick about spacing ... should we have a space after the last attribute and before that last angle bracket?

for example:
with space -  ... maxOccurs="1" />
without space - ... maxOccurs="1"/>

We have both patterns, but more than 50% with space

[2015-04-03 17:41] cjerdonek commented on #74
@demcg I would say no space.  Something else worth including in the guide.

[2015-04-03 18:03] cjerdonek commented on #75
I created PR #78 for this (for the style guide change, not for the change to the spec).  The rendered form can be viewed [here](https://github.com/votinginfoproject/vip-specification/blob/feature/style-guide-ids/StyleGuide.mdown).

[2015-04-03 18:18] jungshadow commented on #74
@cjerdonek @demcg Again, not to start a flame war, but, since I was raised in the [old school XHTML](http://www.w3.org/TR/xhtml1/#guidelines), I'd rather have that extra visual space after the final attribute.

[2015-04-03 18:29] cjerdonek commented on #74
@jungshadow That's fine with me. I don't care too much. :grinning:

[2015-04-03 19:04] demcg commented on #74
Sounds good I will make sure that 1 space is between the last attribute and the closing of the tag

[2015-04-03 19:29] cjerdonek commented on #74
I created PR #79 to update the style guide per our comments.  The rendered form can be viewed [here](https://github.com/votinginfoproject/vip-specification/blob/feature/issue-74-style-guide/StyleGuide.mdown).

[2015-04-03 20:35] cjerdonek commented on #75
Addressed by PR #78.

[2015-04-03 20:35] #75 closed

[2015-04-03 21:06] cjerdonek opened #81 "convert sample_feed.xml to UTF-8"
I noticed that sample_feed.xml is UTF-16.  This causes git to think it is a binary file.  I will post a PR to convert this file to UTF-8 (it is the only remaining file that is not UTF-8).

[2015-04-03 21:14] cjerdonek opened #83 "Clarify that file styles apply to all files and not just XSD files"
I noticed that the UTF-8 and trailing whitespace guidelines are in the XSD section, but those should really be about all text files.  I'll create a PR.

[2015-04-03 21:31] cjerdonek commented on #83
I created PR #84 for this.

[2015-04-03 22:07] cjerdonek commented on #83
Addressed by PR #84.

[2015-04-03 22:07] #83 closed

[2015-04-03 22:11] cjerdonek commented on #81
Addressed by PR #82.

[2015-04-03 22:11] #81 closed

[2015-04-03 22:16] demcg commented on #74
link to PR #80

[2015-04-03 22:16] #74 closed

[2015-04-03 22:48] cjerdonek commented on #76
@jungshadow Do you have any opinions on this?  I like 1622.2's "named type" approach because it breaks things up more, and the type definitions become portable (e.g. can be moved around without affecting the structure of the root "instance" object).  It would also make comparison with 1622.2 easier if the type definitions are separate from the elements.

[2015-04-06 18:40] jdmgoogle commented on #18
Given that the 1622.2 ballot info has both pre-election and post-election status information, can we consider this closed?

[2015-04-06 18:42] jdmgoogle commented on #19
This now seems to be required, per the vip5 branch spec. Where do we stand on the documentation?

[2015-04-06 18:45] jdmgoogle commented on #22
This appears to be fixed in the vip5 branch. Do we have a final resolution about how to handle this in the CSV? The issue to which @pkoms linked has been marked as closed but I didn't see anything in there (in my quick-ish skim) about apartments in CSV format.

[2015-04-06 18:56] jdmgoogle commented on #29
The external_identifier approach should fix this.

[2015-04-06 18:56] #29 closed

[2015-04-06 18:57] jdmgoogle commented on #40
What was the verdict on this? ISTR some discussion about this topic happening on other threads but I don't recall the final decision (if there was one).

[2015-04-06 18:59] jdmgoogle commented on #45
This seems to be a "best practices" for creating a VIP feed rather than having to do with the names of the XML objects, elements, or attributes. If that's the case we should have a bug for "create a 'best practices' guide."

[2015-04-06 19:05] jdmgoogle commented on #63
I think this is a symptom of a larger issue where we still need to fully integrate the 1622.2 common elements (e.g., Person, Contact, etc) into the VIP schema. For example, the election_official object is really just a Person with some Contact elements. The election_administration object could use some similar cleaning up.

[2015-04-06 19:06] jdmgoogle commented on #76
I believe @pstenbjorn had some comments about this, so I'll leave it to him to hash out the details of the XMLisms.

[2015-04-06 19:08] cjerdonek commented on #40
There will be release notes for v5.0 onwards.  The section hasn't been stubbed out yet though.

[2015-04-06 19:17] cjerdonek opened #85 "Update XSD to conform to style guide"
This issue is to finish updating the schema to match our current style guidelines.  Per [this comment](https://github.com/votinginfoproject/vip-specification/issues/74#issuecomment-89352336), I believe we're still in code freeze while @demcg works on this.  Specifically, attribute and element names need to be updated (which was further clarified by issue #75).

[2015-04-06 19:41] jktomer commented on #63
+1 to jdmgoogle's comment; using a standard Person/Contact seems inherently valuable. election_official (election_office?) might need to subclass Person to add extra election-official-related properties.

If you want to have a voter_services enum for election administrators at all, +1 to pkoms's suggestion to move it into election official rather than election administration; in the common(?) case

[2015-04-06 19:46] pstenbjorn commented on #76
@jdmgoogle and @cjerdonek there are two different xsd schema construction approaches that we are blending (Russian Doll and Venetian Blind).  Usually it best to chose a design method and use it throughout.  What @cjerdonek is recommending is using  Venetian Blind model (which is what 1622.2 uses).  Generally, Russian Doll is chosen when human readability of the schema and resulting XML is importan

[2015-04-06 21:40] demcg commented on #85
@jungshadow @cjerdonek

I am continuing work on:

### Naming Styles

1. Attributes should be camelCased - The first letter of the second and subsequent words are capitalized.
2. Elements should be TitleCased (PascalCased) - The first letter of every word is capitalized.
3. Enumerations should be spinal-case - all lower case with spaces replaced with hyphens.

I will create a PR later today.

[2015-04-07 13:50] jungshadow commented on #45
@jdmgoogle Absolutely. Just wanted to have a placeholder to remind me.

[2015-04-07 16:00] jungshadow commented on #85
@demcg How's it coming? Any chance you might have a PR today? If not, just let us know how much longer you need. Also, if you need an additional set of hands, feel free to put up the branch and I can take over.

[2015-04-07 16:00] jungshadow commented on #85
Well...that was timely :)

[2015-04-07 16:07] demcg commented on #85
@jungshadow @cjerdonek
I noticed that we have a number of elements that are suffixed by "Url" that are of type xs:string ... should we change these to xs:anyURI?

[2015-04-07 16:32] demcg opened #87 "Should elements suffixed by "Url" be xs:anyURI?"
We have many elements that are named "...Url" are type xs:string, should they be xs:anyURI?

[2015-04-07 16:38] pstenbjorn commented on #87
@demcg yes I believe that is right.

[2015-04-07 16:38] jungshadow commented on #87
@demcg Yes and probably with a pattern to only accept HTTP(S) protocols.

[2015-04-07 16:40] jungshadow commented on #87
NB: there may be reason for other protocols in the future, but, for the current URLs, HTTP(S) seems the only appropriate option/restriction.

[2015-04-07 17:19] demcg commented on #87
@jungshadow
Are we looking at something like:

<xs:simpleType name="Url">
  <xs:restriction base="xs:anyURI">
    <xs:pattern value="http?://.+" />
  </xs:restriction>
</xs:simpleType>

<xs:element name="RegistrationUrl" type="Url" minOccurs="0" />

I am not sure of the syntax, so please fix as required.

[2015-04-07 17:38] pstenbjorn commented on #87
@demcg testing my regex skills, but I think this should work.

[code]

[2015-04-07 17:46] jungshadow commented on #87
@pstenbjorn Are there situations where the protocols would be in all caps? That seems…interesting. Should that be allowed or flag as something to fix?

[2015-04-07 17:48] jungshadow commented on #87
I should add that I know it's a part of the spec, but it may be off-putting.

[2015-04-07 17:50] pstenbjorn commented on #87
@jungshadow not really, if we want to enforce a lower case protocol, I think it we are safe in flagging it as something needing fixing.  So that would make the regex

`[h][t]{2}[p][s][:]\/\/[a-zA-Z0-9.-]*|[h][t]{2}[p][:]\/\/[a-zA-Z0-9.-]*`

[2015-04-07 18:18] demcg commented on #87
@pstenbjorn will this handle encoded spaces '%20', '#' or query strings '?,&,='

We might want to stay simple, because fully supporting all possible Url styles is a big task.

Thanks

[2015-04-07 18:53] pstenbjorn commented on #87
@demcg thanks to the link you provided me, the following is a validation RegEx that seems to account for both allowed and disallowed uris.

Scary to embed this into a schema, but it works.

`^(?:(?:https?|ftp):\/\/)(?:\S+(?::\S*)?@)?(?:(?!10(?:\.\d{1,3}){3})(?!127(?:\.\d{1,3}){3})(?!169\.254(?:\.\d{1,3}){2})(?!192\.168(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d

[2015-04-07 18:57] demcg commented on #87
@pstenbjorn we could remove "|ftp" ... but that is not much savings. Wow that is a big RegEx, but we only need it in one place ...

[2015-04-07 19:06] pstenbjorn commented on #87
@demcg.  Agree on both counts, we certainly don't need to permit ftp URIs and it does only need to be declared once.  @jungshadow and @jdmgoogle what are your thoughts?

[2015-04-07 19:07] demcg opened #88 "Spacing needs to be fixed on two closed tags in style guide"
The examples:

[code]
and
[code]

[2015-04-07 19:23] demcg commented on #85
@cjerdonek Can I close this issue?

[2015-04-07 19:30] cjerdonek commented on #87
It seems like overkill to try to have a regex validating an entire url.  Why not just check for an initial "http(s)://"?  Also, how do we know that the regex is correct and that it doesn't have false negatives, etc?

[2015-04-07 19:30] cjerdonek commented on #88
LGTM

[2015-04-07 19:32] cjerdonek commented on #85
@demcg Yes, I think so.  Thanks!  We can always create a new issue if we see other stuff.

[2015-04-07 19:40] jdmgoogle commented on #87
I'm actually not that concerned about restricting it to http(s), so I'm okay with just leaving it at anyURI.

[2015-04-07 19:44] cjerdonek commented on #87
Out of curiosity, when would validations like these be applied (and are they ever)?  I would also be okay with not imposing a restriction.

[2015-04-07 19:45] #85 closed

[2015-04-07 19:46] #88 closed

[2015-04-07 19:49] jdmgoogle commented on #87
I imagine we (Google and Pew) would encourage data providers to do a test validation before publishing their VIP feeds. I also imagine that we (Google) would perform a validation prior to parsing the file. A http(s)-only regexp would be useful but (a) could be overkill, and (b) could limit jurisdictions who might do something weird like host sample ballots on an FTP site or something. Plus regexps

[2015-04-07 19:56] cjerdonek commented on #76
@pstenbjorn So to restate your suggestion, are you saying that the guideline could be that type definitions be separated out (a la the Venetian Blind approach) if and only if they are instantiated in more one location in the schema, or are you saying if and only if the type definition is referenced via a `type="xs:IDREF"`?  One benefit of the latter approach is that it becomes clearer which elemen

[2015-04-07 20:33] pstenbjorn commented on #76
@cjerdonek what I was not very concisely trying to say is whatever approach we take we should be rule driven.  I think your rule (if an element is referred to by its id in another element) is a possible rule to apply.  Not that I am advocating against this rule, but if we applied it it would change most elements in the schema, which might be a good thing.

[2015-04-07 20:58] jungshadow commented on #87
I wouldn't have brought it up if the URLs weren't so widely inconsistent (e.g. some have a protocol, some have a malformed protocol, some have no protocol...all in the same feed). In the end, I'd like the URLs to work in various tools (ours and others) and, currently, they fail more often than I'd like. Maybe just specifying `xs:anyURI` is enough, but I'd just like to ensure we get solid data.

[2015-04-07 21:06] jungshadow commented on #87
Just made up my mind that it should be good enough.

[2015-04-07 21:20] cjerdonek commented on #76
Okay, thanks, @pstenbjorn.  Then I would like to propose the following as a starting point on this issue:

A type should be defined outside of the root element (a la Venetian Blind), if--

1. elements of that type are referenced by ID via `type="xs:IDREF"` (e.g. Candidate, PollingLocation, etc),
2. elements of that type occur in more than one location within the root element (e.g. Internationalize

[2015-04-07 21:23] jungshadow commented on #76
@cjerdonek The pros sound good. Any cons? I might be able to see some issues from the processing- and readability-sides, but I'll let @pkoms, @nomadaisy, and @pstenbjorn advocate for themselves there.

[2015-04-07 21:37] cjerdonek commented on #76
I'll let others weigh in, but the main cons I can think of are--

1. It will mean a fairly large change right now, which @pstenbjorn already pointed out.
2. You will probably need to "jump around" more when reading the spec (though on the flip side there will be less to scroll through if you are reading the root node).
3.  Also, [this page](http://www.oracle.com/technetwork/java/design-patterns-14

[2015-04-08 14:45] jdmgoogle commented on #16
We've completely revamped the ballot info so this is obsolete. Closing.

[2015-04-08 14:45] #16 closed

[2015-04-08 14:47] jdmgoogle commented on #18
Since there haven't been any comments on this (and we're porting over 1622.2 elements) I'm marking this closed. Although feel free to re-open if you feel this need further discussion.

[2015-04-08 14:47] #18 closed

[2015-04-08 15:13] #87 closed

[2015-04-08 15:45] jdmgoogle commented on #76
My vote is in favor of the Venetian Blind approach, although I agree that should be one of the final changes after we've figured out the actual objects themselves and the relationships between said objects.

I'm also putting together a document listing out the final changes we need to make in order to get this release candidate out the door. I'll share that document with everyone momentarily.

I'd

[2015-04-08 20:04] pkoms commented on #22
CSV changes will be addressed later. Closing.

[2015-04-08 20:04] #22 closed

[2015-04-08 20:34] cjerdonek commented on #77
I started working on this in branch [`feature/issue-77-internationalized-text`](https://github.com/votinginfoproject/vip-specification/tree/feature/issue-77-internationalized-text).

Also, here are the elements to update from the issue #39 comments:

ballot_response.txt:
* [ ] text

candidate.txt:
* [ ] party
* [ ] biography

contest.txt:
* [ ] primary party
* [ ] electorate_specifications
* [ ] o

[2015-04-08 21:14] demcg commented on #77
@cjerdonek

LAC uses a translation of the candidate's name as part of the ballot for non-latin character languages. I am not sure if this fits into the standard, or if it does where it fits.

![image](https://cloud.githubusercontent.com/assets/481571/7055547/105250da-ddf9-11e4-8f7d-366f258145fa.png)

[2015-04-08 21:20] cjerdonek commented on #77
@demcg Yes, I included Candidate.BallotName for that reason.  Thanks.  I'm in the process of typing up some thoughts about this issue and others.

[2015-04-08 21:45] cjerdonek commented on #77
Okay, I created PR #92 to address this.

I think the PR takes care of a lot of the easy and/or obvious stuff, but I think it would be good to start thinking about a more careful approach and rules around this going forward.

Here are some thoughts to consider around this, to give you an idea:

1. I think it might be important to develop and somehow maintain a clear distinction between element valu

[2015-04-08 22:15] demcg commented on #77
I erased my comment because I found the Candidate.BallotName, but for completeness I will include to image that was in the comment

![image](https://cloud.githubusercontent.com/assets/481571/7056613/1a0dabe8-de02-11e4-9285-d11b9b56ffc6.png)

[2015-04-09 14:33] jungshadow opened #93 "Add CONTRIBUTING file"
To make sure we codify our current dev process, I'm going to add a CONTRIBUTING.md file to the vip5 branch.

[2015-04-09 14:47] jungshadow commented on #19
@nomadaisy I'll let you close if the docs are up-to-date on this.

[2015-04-09 15:04] cjerdonek commented on #77
Closed by PR #92.

[2015-04-09 15:04] #77 closed

[2015-04-09 15:05] jungshadow commented on #77
@cjerdonek All excellent points.

True, but I think this is a solid start and probably needs some additional input from other states/localities on whether this is something that should be consolidated under a "display" field or should be "built" by the end user.

Anecdotally, I know there are a lot of non-latin languages that, while there is a separate numeric system, using Arabic numbers is accep

[2015-04-09 15:15] cjerdonek commented on #77
Thanks, @jungshadow. And yes, to be clear, my comment was meant as food for thought for the future as opposed to a suggestion to do something more about it now.

[2015-04-09 15:18] jungshadow commented on #76
@jdmgoogle The meeting sounds good. One goal I'd like to come out of this meeting (whether I'm there or not) is determining exactly where we draw the line with this 5.0 release. At this point, I'm hoping it encompasses very few spec-related issues and we move additional substantive changes to 5.1.

As for determining Venetian Blind or Russian Doll, we still need to hear from @nomadaisy or @pkoms o

[2015-04-09 15:27] cjerdonek commented on #76
@jungshadow Maybe @pstenbjorn would want to chime in on this, too, but I'm fairly certain this wouldn't affect the structure of the CSV's at all (e.g. since the type definitions would remain the same).  It also seems like this wouldn't change the format of the XML files.  I would view it more as a "refactoring" of the current schema (i.e. in practice, it should be equivalent in terms of the XML fi

[2015-04-09 15:45] pstenbjorn commented on #76
@cjerdonek in general I agree that there is little correlation between the complexity of structuring CSV files and the top level style of the schema.  I think @jungshadow was concerned about the complexity of the XML generation process and how it might affect DW XML creation processes.

[2015-04-09 19:11] Josh-LACRRCC opened #94 "Linking Precinct object to BallotStyle"
Since the restructuring of the schema to better follow 1622.2, I no longer see a method of connecting a Precinct to a BallotStyle.

The Precinct's "BallotStyleImageUrl" function appears be taken care of by the BallotStyle's "InfoUrl".
The "BallotStyleImageUrl" element could then be replaced by

[code]

or be added following if the image url needs to remain in that location.

Other ideas?

[2015-04-10 22:08] nomadaisy commented on #76
Just an update on this - we are discussing internally about what this would require for processing and output in parallel to the 3.0 spec. We should have more information on Monday.

[2015-04-10 22:10] cjerdonek commented on #40
I made PR #95 to stub out release notes.  This gives people a place to write things.  I only put two issues that I had involvement in, but other people can add more.

[2015-04-10 22:19] cjerdonek opened #96 "Change file extension from mdown to md"
I noticed that we are using "mdown" as the file extension for our markdown files, which I have never seen used before.  For example, [Wikipedia](http://en.wikipedia.org/wiki/Markdown) doesn't list it as a possibility on its markdown page.  I wanted to see if we could switch to the more standard "md" (e.g. what GitHub defaults to when auto-creating a README).

[2015-04-10 22:20] #20 closed

[2015-04-10 22:20] nomadaisy commented on #20
Fixed and closed

[2015-04-10 22:33] jungshadow commented on #96
@cjerdonek Agreed. Weird…I could have sworn I used `.md` on the README.

[2015-04-10 22:43] cjerdonek commented on #96
Created PR #97 for this.

[2015-04-10 22:58] demcg commented on #96
sounds good I followed the extension on the README ... when in Rome and all :-)

[2015-04-10 23:17] cjerdonek commented on #96
Great!  I'll go ahead and merge this.  Thanks.

[2015-04-10 23:21] #96 closed

[2015-04-13 22:33] nomadaisy commented on #76
Our team is in agreement to go ahead with changing over to the Venetian Blind approach. We've talked about the various processing implications, and they are in line with our anticipated work on switching over to the 5.0 spec once it's ready. One point I'd like to bring up is we'll be asking vendors to reconfigure their XML exports for many states if we switch over to a Venetian Blind structure.

[2015-04-13 23:37] cjerdonek commented on #76
That's great, @nomadaisy.  Thanks a lot for the update.

Out of curiosity, do you know for sure that the XML exports will actually need to change in some way with a Venetian Blind XSD?  My current sense is that there is a chance the XML exports won't need to change at all in response, and that the change to Venetian Blind only affects how the spec is organized (and not the format of the resulting

[2015-04-15 17:21] jdmgoogle commented on #36
Fixed with the adoption of the 1622.2 schema elements.

[2015-04-15 17:21] #36 closed

[2015-04-15 17:26] jdmgoogle commented on #37
Update the documentation to indicate that when this field is true, it means that one or more write-in candidates are allowed for this contest.

[2015-04-15 17:29] jdmgoogle commented on #38
Closed given the latest features in the 1622.2 schema.

[2015-04-15 17:29] #38 closed

[2015-04-15 20:07] cjerdonek opened #98 "Finish filling out release notes / history doc"
This issue is for completing the release notes document stubbed out by PR #95.

Per the conference call, post additional items that should be added here, and I can collect them into one or more PR's as more are added.

[2015-04-16 13:12] jungshadow commented on #94
@Josh-LACRRCC Did this question get answered yesterday at the spec clean-up session? I want to make sure this didn't fall through the cracks. /cc @pstenbjorn @jdmgoogle

[2015-04-16 14:45] #19 closed

[2015-04-16 15:34] Josh-LACRRCC commented on #94
@jungshadow Yes. Revisit after further 1622.2 integration.

[2015-04-16 20:16] jdmgoogle commented on #30
In my opinion there are two ways to do this. The first way is to use a subset of the enums in the ReportingUnit type in 1622.2; this list includes:

City
Congressional
Council
County
Judicial
Local
Locality
Municipality
National
Other
School
Special
State
StateHouse
StateSenate
Township
Utility
Ward
Water

Option #2 is to use the set of types used in OCD ID keys, per @pstenbjorn's suggestion. Ther

[2015-04-16 20:52] cjerdonek commented on #30
For convenience, here is the current definition:

[code]

Is it the intent that there be a way to group districts together of a common type (e.g. all supervisorial districts)?  And is this what the "Type" name is for (via string matching), or is it just for display?

[2015-04-16 21:06] pstenbjorn commented on #30
For reference purposes these are the implicit types in the OcdId model.  @cjerdonek I know that currently their are strict enumerations for election type used for presentation logic on Google's side.

court_of_appeals
territory
country
district
state
ward
transit
municipio
school_district
parish
circuit_court
sldu
district_court
chancery_court
superior_court
supreme_court
place
executive_district

[2015-04-16 21:18] cjerdonek commented on #30
One reason I'm asking is if a reporting agency or feed has more than one group of districts of the same type, say two collections of "council districts" (one for each of two cities), it doesn't seem like the spec has a structured way to group the districts within each collection.  If the type for both is "council_district" or "Council," then it doesn't seem like there is a way to associate all the

[2015-04-17 13:10] jdmgoogle commented on #30
Two different electoral districts can be of the same type. We (Google) just use the type to help us figure out (a) where contests should go on the ballot relative to each other, and (b) de-duping contests when we get data from multiple sources. We also get ballot data from non-VIP sources, and when we're trying to merge the two we use the district type to help bin them together.

I guess I'm not s

[2015-04-17 13:13] jdmgoogle opened #102 "External identifiers should be nested within objects and not referenced"
Even though we're using a Venetian Blind design in our XSD, the ExternalIdentifer objects are effectively simple elements which should be defined within the object for which they provide an alternative ID, not defined in a big list elsewhere and referenced via xs:IDREF.

[2015-04-17 13:27] cjerdonek commented on #30
Here is one:

[code]

Given the XML above (which uses all of the available elements), there is no way to, say, get all of the `ElectoralDistrict` instances that correspond to Oakland City Council districts (or Berkeley Council districts).  You can only get all city council districts generically.

It seems like each `ElectoralDistrict` object should point to an `ElectoralDistrictType` object, which

[2015-04-17 13:34] jdmgoogle commented on #30
I guess I'm still not seeing the problem. Precincts (and their splits) provide references to all the electoral districts in which they're located, so in the first example the precincts which are in Berkeley would simply have references to electoral districts 1 and 2, whereas the precincts in Oakland would have references to districts 3 and 4.

In order to get the ballot for a given precinct (or sp

[2015-04-17 14:24] cjerdonek commented on #30
I see my point still isn't coming across.  Districts within a given numbering sequence have an obvious sibling relationship with one another that isn't currently reflected in the spec.  It's answered by the question, "What am I a district of?"  It lets you do things like list out the other districts in the family.

In the example I gave above, you only knew that the "parent" areas were Berkeley an

[2015-04-17 14:31] jdmgoogle commented on #30
Ah, okay. I see what you're saying. However this is Working As Intended. There is not and has never been any attempt to determine if two districts are siblings to each other (or have any other relation to each other). If the name of a district is simply "District 3" (instead of "Oakland District 3" or "Berkeley District 3") then we see that as a poorly-constructed feed instead of a fundamental fla

[2015-04-17 14:35] cjerdonek commented on #30
Okay, so it's out of scope.  That's fine (though I do think the information would be useful and more DRY).  One more question.  With the proposed enum, would it be a problem if a precinct is contained in two electoral districts with the same type, or do you insist that there be at most one of each type?

[2015-04-17 14:36] jdmgoogle commented on #30
It probably would be useful in a way, but yes, it's out of scope for VIP (or at the very least VIP 5.0).

No, there's no problem if a precinct links to more than one electoral district of the same type.

[2015-04-17 14:48] cjerdonek commented on #102
I just wanted to carry over my point from before that I think the type we define and use should be `ExternalIdentiferCollection`, since we always support adding multiple identifiers.

[2015-04-17 19:37] jdmgoogle commented on #30
Any comments, @pstenbjorn @jktomer or @jungshadow?

[2015-04-17 19:42] pstenbjorn commented on #30
@jdmgoogle I think that for our current use cases rely on other relationships of electoral districts to set their context.  If we have two districts named exactly the same thing, the context of the relationships should define the scope of the district, so I don't see a logical problem. As far as display, we had discussed allowing the use of a local district type name alias that could address visua

[2015-04-19 05:08] cjerdonek opened #106 "Style guide should state the "Other" pattern used with enums"
The style guide should describe the following pattern used throughout the spec of adding an "Other" element with type `xs:string` whenever we want to allow values not included in an enumeration:

[code]

[2015-04-19 05:45] cjerdonek commented on #76
I created PR #107 for this.

[2015-04-19 06:24] cjerdonek commented on #102
I created PR #108 to address this.

[2015-04-19 06:44] cjerdonek commented on #98
From @jdmgoogle:

[2015-04-19 18:02] cjerdonek commented on #102
Question: is there already a proposal for how to allow external identifiers to be provided for objects in the feed via flat files?

[2015-04-19 21:37] cjerdonek opened #109 "State in the docs that the CSV supports all of the XML"
I have a question regarding what XML attributes need to be supported in flat files.  The answer to this question should probably be reflected somewhere in the internal or public-facing docs (if it isn't already).  This question also feeds into a larger question of how we should or do support `maxOccurs="unbounded"` in flat files, in general.

Here is the question:

I noticed that it doesn't seem l

[2015-04-20 12:38] pstenbjorn commented on #109
@cjerdonek in other instances where there is a one to many relationship in the current VIP schema, an additional relational csv file is collected.  For instance, `precinct_split` can be related to >=0 `electoral_district` elements. The CSV for capturing those relationships are through the `precinct_split_electoral_district` relational file that contains `precinct_split_id` and `electoral_district_

[2015-04-20 13:13] cjerdonek commented on #102
@jdmgoogle I think this can be closed now, except for the issue of how external identifiers would be handled for all objects in the flat files (see also issue #109).  Should we open a separate issue for that, or work that out here?

[2015-04-20 14:29] jdmgoogle commented on #27
I just checked the most recent vip_spec.xsd in the vip5 branch and this looks good.

[2015-04-20 14:29] #27 closed

[2015-04-20 15:39] cjerdonek commented on #76
Closed by PR #107.

[2015-04-20 15:39] #76 closed

[2015-04-20 15:40] jdmgoogle commented on #102
@cjerdonek I think we can close this one out since the flat file discussion seems to be happening in #109.

[2015-04-20 15:41] #102 closed

[2015-04-20 18:02] #93 closed

[2015-04-20 18:30] jungshadow opened #110 "Rename and move the styleguide to the root of the repository"
As mentioned in #100, potential developers should be able to easily access the guidelines they need to contribute to the repository. Will move `docs/style_guide.md` to the root of the repository and rename to `STYLEGUIDE.md` to match the typical metadata docs naming conventions.

[2015-04-20 18:46] #110 closed

[2015-04-20 18:58] jdmgoogle commented on #30
I'll let @jktomer weigh on in this, too, but here's my current thinking:

We should adopt the 1622.2 types, plus an "OtherType" string.
- This will more easily enable compatibility with 1622.2;
- We (Google) feel relatively confident in our ability to map between 1622.2, OCDID, and other types; and
- If the data provider includes an OCDID as one of the ExternalIdentifiers, that makes things even e

[2015-04-20 19:20] cjerdonek opened #112 "Remove duplication between SimpleAddressType and Contact types"
It looks like there is duplication between the SimpleAddressType and Contact types.

[2015-04-20 19:47] jungshadow commented on #30
I like the simplicity of the 1622.2 set of enumerations. The opportunity to use an OCDID on a particular piece of geography is available through ExternalIdentifier. I think starting from a basic list helps us move toward a generalized glossary of terms.

[2015-04-20 21:13] cjerdonek commented on #112
It looks like SimpleAddressType is only used by PollingLocation, which also has HoursOpenId.  So one possibility would be to change PollingLocation to use Contact instead.

In addition, another possibility would be to have Contact adopt SimpleAddressType's more structured form of address, instead of its current unstructured form:

[code]

[2015-04-20 21:15] cjerdonek commented on #63
@jungshadow should this be closed?

[2015-04-20 21:18] cjerdonek opened #113 "Implement Venetian Blind"
Implement Venetian Blind per our style guide [here](https://github.com/votinginfoproject/vip-specification/blob/vip5/STYLEGUIDE.md#type-definitions-global-vs-local).

[2015-04-20 21:22] jungshadow commented on #63
As long as it works as advertised, yup :)

[2015-04-20 21:25] jungshadow commented on #113
@cjerdonek Do you happen to know who's responsible for this? Feel free to assign, if you do.

[2015-04-20 21:27] jungshadow commented on #112
@cjerdonek The latter option seems like the most flexible and the "best of both worlds."

[2015-04-20 21:28] cjerdonek commented on #113
@jdmgoogle and @pstenbjorn IIRC.

[2015-04-20 21:29] cjerdonek commented on #112
Okay, I will make a PR.

[2015-04-20 21:30] jungshadow commented on #112
@cjerdonek Great!

[2015-04-20 21:37] pstenbjorn commented on #113
@cjerdonek @jungshadow and @jdmgoogle - I will have time after tomorrow to lay out the proposed realignment of the standard using this style.  I would also like to have a reference XML document included with this.

[2015-04-20 22:43] cjerdonek commented on #112
Created PR #114.

[2015-04-20 22:58] cjerdonek commented on #63
Great!

[2015-04-20 22:58] #63 closed

[2015-04-20 23:22] cjerdonek commented on #106
Created PR #115.

[2015-04-21 01:02] cjerdonek commented on #109
So just to clarify, is it the case that if something appears in the XML spec, it needs to be supported via flat files?  Or are some features supportable only via the XML?

[2015-04-21 01:11] cjerdonek opened #116 "Style: should type names end in "Type"?"
I noticed that some type names end in "Type" (e.g. "ContestType" and "DetailAddressType"), but there doesn't seem to be a pattern as to which ones do.  For types like those, the suffix seems redundant to me.  Also, if such types end in "Type," it seems like they all should.

Personally, I think suffixes like "Type" and "Status" should be reserved for enumerations like "BallotMeasureType" and "Cand

[2015-04-21 11:03] jdmgoogle commented on #112
TIMEOUT! :)

I understand the desire to have a single address type in the spec, but unfortunately (for now) we need to have Contact use multiple lines (for 1622.2 compatibility) and VIP use the SimpleAddressType.

The TL;DR version is that 1622.2 will likely the basis of an international election results reporting standard, one for countries for which the "city, state, zip" framework doesn't work,

[2015-04-21 11:09] jdmgoogle commented on #106
Looks Good To Me

[2015-04-21 11:21] jdmgoogle commented on #116
I generally agree with this. The current naming also uses the FooType naming scheme when referring to abstract base classes which can never be instantiated. I'm okay with the FooType naming being used there, too.

[2015-04-21 11:27] jdmgoogle commented on #60
Temporarily assigning @nomadaisy to this as she seems to be most familiar with the CSV format.

Noma: feel free to assign this to someone else if either someone else would be more knowledgeable about it or you're currently overloaded.

[2015-04-21 11:27] pstenbjorn commented on #109
@cjerdonek ideally all elements would be captured in csv and translated into the XML schema. The use case is for election officials to be able to easily produce data sets that can be transformed into the standard from disparate systems that may not have an RDBMS at their core.

[2015-04-21 11:43] jdmgoogle opened #117 "Proposal: Approval process for pull requests"
As one of the biggest offenders of the proposal outlined below, I'll attempt to have my "Nixon going to China" moment. :)

The proposal:

Before any pull request can be merged into either the main branch or a release branch (e.g., "vip5") it needs to be affirmatively approved by at least one person from Pew and one person from Google. An "affirmative approval" can be as simple as a "LGTM" (looks g

[2015-04-21 11:49] jdmgoogle opened #118 "Identify and adopt a uniform address standard"
Currently we use two main address formats: the simple multi-string "AddressLine" in the Contact object, and a more detailed lines/city/state/zip format in SimpleAddressType. The reason for this is that the Contact object comes from 1622.2, and we (Google) hope to promote 1622.2 as a data standard for international election results reporting, including in jurisdictions where the city/state/zip addr

[2015-04-21 13:11] cjerdonek commented on #112
FYI, It's a bit aggressive to close this issue and reopen one that is basically the same.  I think the more appropriate thing to do would have been to continue the discussion here and change the milestone fro 5.0 to post 5.0.  Why was this issue closed?

[2015-04-21 13:14] cjerdonek commented on #106
Thanks. @pstenbjorn how does this look to you? @jungshadow requested sign off from two people.

[2015-04-21 13:20] cjerdonek commented on #116
If we go with a convention for abstract base classes, I'd prefer something distinct that we don't also use for some concrete classes.  In other words, if we use "FooType" for abstract base classes, I think Type should be disallowed for others (e.g. the BallotMeasureType enum of ballot-measure, initiative, referendum, etc).  Another option is to choose a different convention for abstract base class

[2015-04-21 13:40] cjerdonek commented on #117
So people can know who approvals would be needed from, what are the usernames of the people from Google?  How about Pew?

[2015-04-21 14:32] jdmgoogle commented on #117
Google: @jdmgoogle @jktomer
Pew: @jungshadow @jen-tolentino
Wildcard: @pstenbjorn

The Pew people should probably say if they want to include @pstenbjorn on the Pew list because I'm not 100% certain about his relationship to Pew. I'm fine either way, though.

[2015-04-21 14:32] jdmgoogle commented on #116
I'm okay with pure-abstract classes being renamed to "FooBase".

[2015-04-21 14:34] jdmgoogle commented on #112
I suppose I could have kept this one open and renamed it. Primarily I wanted something different to reflect the different and larger scope of the issue. Removing duplication between the two objects is an action that will flow out of the address specification evaluation process, but the actual activity that needs to happen before that is to identify and evaluate different addressing standards.

[2015-04-21 14:50] cjerdonek commented on #112
Okay, I can see how the scope of that issue is more general.  I do think, though, that as a matter of courtesy you should discuss before immediately closing.

I'm going to reopen this issue and mark as "Up for Debate" because I do think there is something worth doing in the short term -- or at least discussing it.

[2015-04-21 14:56] jdmgoogle commented on #112
I apologize for closing it preemptively and not giving you a chance to digest my comments. That was overly abrupt and I apologize.

However, on the underlying issue my original stance hasn't changed. Completely revamping address formatting in either 1622 or VIP is not feasible in time for 5.0, so whatever changes get made will have to be post-5.0.

[2015-04-21 15:08] cjerdonek commented on #118
FYI, there are actually three address formats currently being used in VIP:

1. the generic "AddressLines" approach used in the Contact object (from 1622.2, for things like Office addresses),
2. "SimpleAddressType" (used for the address of PollingLocations), which breaks out City / State / Zip, and
3. the even more structured "DetailAddressType" (used in StreetSegment), which also breaks out things

[2015-04-21 15:18] cjerdonek commented on #112
I'm not advocating for a complete revamp.  My only suggestion here is that, since VIP is already collecting data only from US states, why not preserve the City / State / Zip breakdown in the VIP feeds, as opposed to dropping that breakdown?  It would be trivial to convert to the 1622.2 format (simply concatenate the strings).

[2015-04-21 15:33] jdmgoogle commented on #112
This conversation seems to be sprawled out among several different threads (partially my fault). Let's decide on one place to have this conversation and close out the other ones.

[2015-04-21 15:57] cjerdonek commented on #112
Let's continue the discussion here in the issue thread then.  PR #114 can be closed or merged after reaching resolution here.

Continuing the PR #114 discussion after [this comment](https://github.com/votinginfoproject/vip-specification/pull/114#issuecomment-94839708):

Well, my point is that _if_ it is available, it would be better to preserve that structure (and optionally drop it in downstream

[2015-04-21 16:12] cjerdonek commented on #117
I just want to make one comment that, with this policy, it might lessen incentive for non-Google, non-Pew people to say LGTM since their positive feedback wouldn't contribute towards the needed approval.

[2015-04-21 17:26] jktomer commented on #30
+1 for the 1622 set. The important thing, from our perspective, is that we can determine whether a given VIP district is equivalent to a given district we get from another source (say, BIP). That depends on two factors:

* the reliable presence of this field in VIP feeds, and
* an easy mapping between its values and the equivalent information we have about districts from our other sources.

The fi

[2015-04-21 17:53] demcg commented on #117
Sounds good, but in the case of issues with healthy debate can we allow the debaters time to weigh in on the PR as "observers"?

[2015-04-21 17:55] jdmgoogle commented on #117
It's not my intention to lessen the value of other people's opinions and contributions towards issues and pull requests. Non-Google, non-Pew people have both real-world experience which Googlers and Pew..ers(?) may not have, in addition to technical expertise. I certainly rely on the technical knowledge and real-world experience of the people here, and their feedback and comments most certainly co

[2015-04-21 18:03] jdmgoogle commented on #112
Yes, but if it *isn't* available then they're completely out of luck, and we lose data. The point that "any address can be converted to an array of unstructured strings" argues for using a looser address format in all places where it isn't absolutely necessary.

A similar rationale -- "an unstructured string should not be completely removed in order to force adoption of structured data when said s

[2015-04-21 18:12] cjerdonek commented on #112
To address the "out of luck" issue, we could do something similar to what we do in cases like hours (HoursOpenID in addition to free-form text) and enumerations (allow falling back to an "other" free-form value).  We could simply let the City, State, Zip info be added as a free-form address line if not present in structured form (in which case the structured elements would be blank).  The precise

[2015-04-21 18:19] jktomer commented on #112
To be honest, structured addresses aren't all that useful anyway: noncompliance is rampant in existing feeds, leaving us to clean up every kind of shocking edge case imaginable (real example I recall from November 2014: the building name is line 1, room number is line 2, everything else is blank except the ZIP code which contains the entire mailing address).

The addresses we return to users are s

[2015-04-21 18:44] cjerdonek commented on #112
Just to be clear, the structured aspect we're talking about here is the City, State, Zip part (which is in SimpleAddressType), and not the street number portion.

I don't think we should use noncompliance as an argument for whether to include something, otherwise the spec would never improve.  The solution to non-compliance is to help them comply (unless it shows an aspect of the spec is ill-defin

[2015-04-21 18:49] jdmgoogle commented on #112
Because:

and

Although the one part that @jktomer left out is wildcard street segments, which do need street names and/or city names broken out explicitly. Otherwise, yes, one needs a geocoding service to properly ingest the VIP address data.

[2015-04-21 18:55] jktomer commented on #112
I'd be fine with removing most of the structure from SimpleAddressType, though I don't think it's worth delaying the 5.0 spec to do so.

And yes, @jdmgoogle is right, I forgot that wildcard segments do need more detail than standard ones.

[2015-04-21 18:56] cjerdonek commented on #112
My point was that if it's not useful as @jktomer was saying, then why break it out at all, even if it's possible?  If it's because there is some use, then we should be allowing it elsewhere.

[2015-04-21 19:22] pstenbjorn commented on #117
@jdmgoogle I am all for the approval process for PRs and I would add that an additional step that someone must assume before merging a PR is to validate the schema using a W3C validation routine (there are some online, there are some IDEs that perform this and there is a plugin for Notepad++ that can validate any schema against a parent schema).

[2015-04-21 19:27] jktomer commented on #112
The specific use of address components in a street segment (as opposed to a point address for a polling location or whatever) is to identify the part we should use for a special comparison (range comparison for house numbers, string match after normalization for city name in wildcards) to match. That doesn't apply to, for example, polling location addresses, where we're being given a point address

[2015-04-21 19:47] jdmgoogle commented on #112
To summarize @jktomer's point and to try and move forward on this, if we're going to change anything pre-5.0, my proposal is:

1) Leave the address in Contact as a set of unstructured strings;
2) Change the PollingLocation object to use 1+ strings as the address; and
3) Remove SimpleAddressType.

This is effectively option (1) that @cjerdonek suggested up at the top, except that it mandates using

[2015-04-21 21:21] cjerdonek commented on #112
That sounds fine with me.  Thanks for engaging with me on this, @jdmgoogle and @jktomer.

[2015-04-21 22:00] cjerdonek commented on #112
I updated PR #114 to use @jdmgoogle's proposal.

[2015-04-21 22:24] cjerdonek commented on #116
I created PR #121 for this.

[2015-04-22 12:15] jdmgoogle commented on #117
@pstenbjorn Agreed. I'll update the contributors document to provide links to http://www.utilities-online.info/xsdvalidation/ and xmllint.

[2015-04-22 13:04] jdmgoogle commented on #117
See PR #123 for updates to the documentation. This is the formal version of this proposal, bug please keep comments here about the idea itself.

Also, I did a validation of the most recent vip5 schema and found that it didn't validate. See PR #122 to fix that.

[2015-04-22 15:34] cjerdonek commented on #112
Closed by PR #114.

[2015-04-22 15:34] #112 closed

[2015-04-22 19:09] jktomer commented on #117
This requirement LGTM. I'll echo that we definitely want to be hearing from folks outside Pew and Google! But as the primary producer and (to my knowledge) largest (by several orders of magnitude if not infinity) direct consumer of VIP feeds, respectively, Pew and Google bear long-term maintenance responsibility for most of the actual software that will be interacting directly with data in this fo

[2015-04-22 19:53] jdmgoogle commented on #94
I sat down and discussed this with @jktomer, and here's the situation: right now we (Google) figure out the ballot contests by (a) getting the list of electoral districts associated with a precinct from the Precinct object, (b) getting the list of contests associated with an electoral district from the Contest object, and (c) doing a join on those two lists. These linkages are all still present in

[2015-04-22 20:30] pstenbjorn commented on #94
@jdmgoogle let me see if I can trace the chain of data in your suggestion 3

[data entry - valid address] -> StreetSegment-> PrecinctId ->
Precinct->
[ElectoralDistrict ->Contest(s)->BallotSelection/CandidateSelection]
OR
Precinct->
[BallotStyle->OrderedContest->Contest(s)->BallotSelection/CandidateSelection]

If this is what you are proposing, I think it provides reasonable options and enough rev

[2015-04-22 20:53] Josh-LACRRCC commented on #94
@pstenbjorn, that is how I envision it chaining as well.

Option 3 offers the least amount of design changes, with existing compatibility, while providing the increased ability to support "candidate rotation" between Precincts.
Two Precincts may contain the same collection of Contests (through the ElectoralDistrict linkage), and an optional BallotStyle allows the Candidates to be defined in differ

[2015-04-22 21:29] cjerdonek commented on #94
Option (3) strikes me as the right choice.

[2015-04-23 12:06] jdmgoogle commented on #94
@pstenbjorn and @Josh-LACRRCC
Yes, that's correct. The proposed model using ballot styles is:

Address
\~> Street segment
\~> Precinct
\~> BallotStyle
\~> OrderedContests

but if there is no BallotStyleId present in the Precinct object, we'll fall back on the current model, which is

(Preprocessing)
Build a multimap of
ElectoralDistrict ~> Contest
using the Contest.ElectoralDistrictId field

(Serv

[2015-04-23 12:19] cjerdonek commented on #106
Closed by PR #115.

[2015-04-23 12:19] #106 closed

[2015-04-24 15:27] pkoms commented on #109
Paul is on the mark -- and that's why, for example, the new way of handling apartments is complicated from the CSV perspective.

I would take a stronger stance than his "ideally": every element in the XML should be attainable from conversion of specified CSVs. The spec is an evolving document, but we've found that's it's expensive in both time and money for officials to keep up with XML specificat

[2015-04-24 15:34] cjerdonek commented on #109
Okay, we should probably say this somewhere like in the contributing doc or in the style guide doc.

[2015-04-24 22:51] cjerdonek opened #126 "Style: line length"
I wanted to suggest some sort of non-strict line length guideline to apply to all of our files (xml, html, md).  The main reason is to make diffs more useful (e.g. those that appear in GitHub).  I noticed that some lines in the HTML and markdown seem to run very long (e.g. 200+ characters).  Maybe it could be phrased as a goal of 80 characters, but longer is fine whenever it aids readability.

[2015-04-24 22:52] cjerdonek commented on #126
This wouldn't apply to sample feeds, of course (e.g. XML and CSV).

[2015-04-27 12:11] jdmgoogle commented on #126
Given the verbosity of XML and HTML, I propose a 100-character suggested line limit. The current HEAD for vip5 has a vip_spec.xml of 662 lines. Of those:

- 111 are 81+ characters long; and
- 22 are 100+ characters long.

[2015-04-27 22:06] cjerdonek commented on #126
100 as the suggestion seems fine to me.  I can write up the PR.

[2015-04-28 20:51] #30 closed

[2015-04-28 20:57] jdmgoogle commented on #117
The new PR process is documented and has been fed into `vip5`.

[2015-04-28 20:57] #117 closed

[2015-04-29 15:38] cjerdonek commented on #116
Closed by PR #121.

[2015-04-29 15:38] #116 closed

[2015-04-29 15:53] cjerdonek commented on #126
Created PR #128 for this.

[2015-04-29 19:30] cjerdonek commented on #126
Closed by PR #128.

[2015-04-29 19:30] #126 closed

[2015-04-29 21:17] jungshadow opened #129 "Should locality.type also have an enumeration?"
I imagine there are a finite number of values here, but should we limit the possibilities rather than use `xs:string`? Probably not crucial for 5.0, but thought I'd put this up for discussion.

[2015-04-30 12:45] jdmgoogle commented on #129
What are everyone's thoughts on using the `DistrictType` enumeration here?

[2015-04-30 13:22] cjerdonek commented on #129
If I understand locality correctly, I don't think `DistrictType` should be used for the simple reason that it contains values that would be invalid as a locality type.  (DistrictType even has "locality" as an option.)  Also, it's usually best not to have something try to serve two purposes.

Depending on the meaning of ElectoralDistrict versus Locality,  _maybe_ (and it's a weak maybe) it would ma

[2015-04-30 16:05] jungshadow commented on #129
@cjerdonek Potential values for locality are determined by what jurisdiction is the election administrator (e.g. town, county, municipality, city, parish, et al) and contains the associated precincts.

@nomadaisy Might have a better idea on a more exhaustive list.

[2015-04-30 16:11] jktomer commented on #129
What's the purpose of locality.type? It exists in the 3.0 feed, and we read but do not use it.

[2015-04-30 18:20] jungshadow commented on #129
@jktomer For those jurisdictions using the specification to share data between systems or external services, segmenting the locality data into its disparate pieces is as useful as separating candidate names or standardizing addresses. I imagine there are other uses, but that's the first that comes to mind.

[2015-05-01 13:02] jdmgoogle commented on #129
@jungshadow Do you know of any jurisdictions which are (a) currently using or planning to use the data in this way, and (b) using the `locality.type` field as part of the reconciliation process?

[2015-05-01 14:16] jungshadow commented on #129
@jdmgoogle (a) A handful that are currently using it. Some for ballot generation (it may not matter here) and a few to prime online overseas voter services (knowing the local election authority figures in here). (b) Good question. I don't, but I can see how it would be useful to have the type separate from the name for categorical purposes.

I'm honestly not sure if narrowing the scope of types wo

[2015-05-01 14:38] jdmgoogle commented on #129
Okay. @johnpwack posted this in response to my request for clarification about the different types

Jurisdiction – to me it doesn't seem any more useful than using "Other" – I suggest removing it
Local – I believe this is intended to be used for a local district, but again it doesn't seem any more useful than using "Other" and I suggest removing it
Locality – this was probably added so as to be co

[2015-05-01 14:44] jungshadow commented on #129
@jdmgoogle Narrowing the number of types sounds good to me, but is this going back to the idea of reusing DistrictType?

[2015-05-01 15:31] jdmgoogle commented on #129
@jungshadow Yes. I don't see the benefit in creating a second set of almost-entirely-overlapping enums when the first set appears to meet our needs.

[2015-05-01 15:35] pkoms commented on #129
Quick note on why locality.type is useful: there are states where townships run elections, but townships in different counties have the same name. (Michigan, Wisconsin come to mind.) So to truly tell these towns apart without reference to third-party information, we'd need to be able to identify what county they're in, for which we'd want both county and municipal locality objects. *But,* counties

[2015-05-01 15:47] jdmgoogle commented on #129
@pkoms In order to differentiate between two towns with identical names in different counties we'd need a hierarchy of `Locality` objects, which is orthogonal to the `Type` element we're discussing here (I believe). The `Locality` object does contain an `ExternalIdentifiers` element, which is where an OCD-ID should go, which would allow us to differentiate between the two identically-named towns.

[2015-05-01 16:37] pkoms commented on #129
Thanks for the reminder about `ExternalIdentifiers`. I'll take it.

[2015-05-01 17:49] jktomer commented on #129
Just to chime in, since Google still has no plans to use =locality.type= for anything, we have only an academic interest in how it's defined.

But I'll echo @jdmgoogle's comment that the right way to unambiguously identify a locality is with OCD division IDs, and caution you against trying to reinvent them in some other format, because it was kind of difficult to do the first time :)

(Seriously,

[2015-05-01 17:52] jktomer commented on #129
To be perfectly honest, city, locality, and municipality all sound like synonyms (or regional spelling variations of synonyms) to me; I don't know of any case where having more than one of those three could resolve an ambiguity of any kind.

[2015-05-01 18:14] jungshadow commented on #129
Solid. Generally, are we agreed that we can just re-purpose DistrictType? The locality either falls into one of the given types or it's an "other."

[2015-05-01 18:20] jdmgoogle commented on #129
LGTM. I'll make a PR.

[2015-05-01 19:45] cjerdonek opened #136 "Order type definitions in XSD"
We need to order the type definitions in the XSD per the style guide.  Is it okay for me to do this, or is someone else already working on a big change to the XSD?

[2015-05-01 19:46] jdmgoogle commented on #136
Not sure what the status is of @pstenbjorn's Venetian-Blind-izing the XSD.

[2015-05-01 19:49] pstenbjorn commented on #136
@cjerdonek @jdmgoogle Venetian Blinding is merged.  I am fine with @cjerdonek ordering the XSD.

[2015-05-01 19:52] cjerdonek commented on #136
I will create a PR now.

[2015-05-01 19:52] #129 closed

[2015-05-01 19:54] jdmgoogle commented on #113
Based on @pstenbjorn's comment in #136, I'm assuming this can be closed. Reopen if I misread/misinterpreted his comments.

[2015-05-01 19:54] #113 closed

[2015-05-01 19:55] pstenbjorn commented on #113
@jdmgoogle thank you

[2015-05-01 20:05] cjerdonek commented on #136
Started PR #137.

[2015-05-01 20:11] jdmgoogle commented on #136
Since this should be a relatively non-controversial set of PRs (i.e., just sorting some elements and attributes), would @jungshadow or @pstenbjorn object if we waived the normal two-reviewer rule and I reviewed @cjerdonek's PRs by myself?

[2015-05-01 20:16] jungshadow commented on #136
Fine by me.

[2015-05-01 20:19] pstenbjorn commented on #136
Same here

[2015-05-01 20:20] cjerdonek opened #138 "Make abstract types follow conventions"
We need to add `abstract=true` and follow the "Base" naming convention.

[2015-05-01 20:35] cjerdonek commented on #138
@jdmgoogle Will do this shortly.

[2015-05-01 20:46] cjerdonek commented on #138
Created PR #139.

[2015-05-01 20:48] cjerdonek opened #140 "Remove unneeded "Type" suffixes"
We need to remove the superfluous "Type" suffix from some of the type names, per the style guide.

[2015-05-01 20:50] cjerdonek commented on #136
Closed by PR #137.

[2015-05-01 20:50] #136 closed

[2015-05-01 20:52] cjerdonek commented on #140
The affected names are: BallotMeasureContestType, DetailAddressType, OrderedContestType.

[2015-05-01 20:54] cjerdonek commented on #138
Closed by PR.

[2015-05-01 20:54] #138 closed

[2015-05-01 20:58] cjerdonek commented on #140
Created PR #141.

[2015-05-01 20:59] cjerdonek commented on #140
Closed by PR.

[2015-05-01 20:59] #140 closed

[2015-05-01 21:09] cjerdonek opened #142 "Address remaining local and global types"
I noticed that OrderedContest should be in-lined inside the BallotStyle definition.  Also, State needs to be made a named type rather than anonymous.

[2015-05-01 21:11] jdmgoogle commented on #142
I'm not sure that OrderedContest needs to be inlined.
The elements within each object need to be sorted.
Also ContactInformation should be inlined.
I'm running out of steam right now, though, so let's pick up this last cleanup on Monday.

[2015-05-01 21:11] cjerdonek commented on #142
Also, the Term object should be in-lined inside Office.

[2015-05-01 21:13] cjerdonek commented on #142
Yeah, I'm just making a note for Monday, etc.  OrderedContest is used only within BallotStyle and doesn't have an ID attribute (and doesn't fit any of the criteria in the style guide), which is why it should be in-lined.

[2015-05-01 21:24] cjerdonek commented on #142
On second thought, I will start a PR for this.

[2015-05-01 21:37] cjerdonek commented on #142
Created PR #143.

Regarding ContactInformation, I checked, and I don't think it can/should be in-lined because it is used/referenced in more than one type: Person, Source, Department, Department.VoterService, and Office.

[2015-05-01 22:35] kennethmbennett commented on #129
Technically speaking, municipality is more of a legal term, which refers to a city or town that has a legal corporate status and its own local government.  The term city in the general sense refers to any large human settlement, whether legally incorporated or not.   We often use the words municipality and city interchangeably because (in the “developed” world at least) most large human settlement

[2015-05-04 13:36] #142 closed

[2015-05-05 16:42] cjerdonek opened #147 "Typo: VoteVariationType > VoteVariation"
I noticed this minor mismatch:

[code]

The element names should end with the type name, so either the element names should be changed, or else the type name.  Personally, I would go with the former, but the latter is also okay.

[2015-05-05 16:48] cjerdonek commented on #147
Created PR #148.

[2015-05-05 20:31] #147 closed

[2015-05-05 21:02] cjerdonek opened #149 "style guide: document "identifier" pattern for in-lined objects"
I think it would be worth adding a note about our pattern of adding an optional "identifier" attribute with type string for objects whose data is in-lined and that do not have an ID.  When flat files are used, the identifier can be used in lieu of an ID to link the data back to the row of the flat file it came from.

[2015-05-05 21:12] jdmgoogle commented on #149
Go for it. All yours. :)

[2015-05-05 21:15] cjerdonek commented on #149
Will do, maybe not today but within the next few days. :)

[2015-05-06 14:19] jungshadow opened #151 "Sample feed missing StreetSegment elements"
I completely missed this in my review, so *mea culpa*. Since they're pretty key to this whole operation, there should be a few `StreetSegment` elements in the sample feed.

[2015-05-06 14:39] pstenbjorn commented on #151
@jungshadow i can take on the sample feed with the latest schema changes as i would like to test using existing csv to create.

[2015-05-06 14:44] jungshadow commented on #151
No objections here, but I will say that I do like the fact that it's small enough to browse on GitHub without going to the raw source. It's super-great if you can get it to work with the existing CSVs (I'm pretty sure @pkoms and @nomadaisy will be overjoyed), but whatever gets posted here I think should be a small sample of that data.

What say you, @jdmgoogle?

[2015-05-08 13:34] jdmgoogle commented on #151
We should probably update the sample feed to include a few common use cases, including (but not limited to):

1. Ballot rotation;
2. Basic street segments;
3. Street segments with unit numbers;
4. A multi-candidate contest (e.g., President and Vice President); and
5. One person running for multiple offices (e.g., a Senator running both for President and their current seat).

Are there any other us

[2015-05-08 13:58] pstenbjorn commented on #151
@jdmgoogle one of the use cases that I am interested in representing is the use of the `Precinct` element to represent both splits and precincts.
The other use cases that I can think of are
1.) Early voting sites
2.) Vote by mail election
3.) Judicial retention elections

As I work through the sample feed I am sure I will have other thoughts.

[2015-05-08 15:31] pstenbjorn opened #155 "InfoUri is required in BallotMeasureContest"
Noticed that this element should be optional.

`<xs:element name="InfoUri" type="xs:anyURI" />`

should be

`<xs:element name="InfoUri" type="xs:anyURI"  minOccurs="0" />`

[2015-05-08 20:54] #151 closed

[2015-05-08 21:35] jungshadow commented on #151
Should we open up issues for the other use cases?

[2015-05-08 22:38] jungshadow commented on #48
Latest PR #157 should start to completely close this off (and #60 when we get that far with the CSV-side of things). /cc @nomadaisy

[2015-05-12 21:09] jungshadow commented on #60
@nomadaisy Let me know if you want to talk through the documentation structure. If you need a Sphinx/rst primer, I can help there as well.

[2015-05-13 16:35] nomadaisy commented on #60
@jungshadow That would be great. Let's schedule something.

[2015-05-15 13:38] jungshadow opened #158 "Fix remaining todos on ballot_measure_contest.rst"
Two things here for discussion:

* Should `BallotMeasureContest.Type` be required?
* Is `BallotMeasureContest.FullText` a required field?

To the latter bullet point, there were a number of places in the generated doc files where some of the required fields were optional. In [the 3.0 docs](http://votinginfoproject.github.io/vip-specification/#referendumitems), `referendum.title` and `referendum.te

[2015-05-15 13:52] jungshadow opened #159 "Cleanup superfluous documentation todos"
Some of the generated doc files came through with some fields being optional, so I created a number of todos to make sure the optional fields were required. Upon closer inspection of the spec, it looks like it was just a bug. Need to double-check the spec for each field, but then remove the todos.

[2015-05-15 14:12] jungshadow opened #160 "If RetentionContest exists, is BallotMeasureType "retention" necessary?"
I may have missed something in the discussion on this, but we have an element `RetentionContest` and a `BallotMeasureType` value of "retention." If we have the element, do we need the value for a `BallotMeasureContest`? Let me know if I'm crazy here.

[2015-05-15 14:32] jdmgoogle commented on #160
I don't believe so. I'm readying a PR to make a few very minor fixes, and this will be one of them.

[2015-05-15 18:21] jdmgoogle commented on #158
That may have been a bug in my code. I can go double-check if you'd like, or we can just assume that I messed up the code. :)

As for the question of required versus optional, I feel that

1. `BallotMeasureContest.Type` should be optional since it's there if an election officially really needs to distinguish between two different types of ballot measures in a single election.
2. I think `BallotMea

[2015-05-15 19:38] jungshadow commented on #158
Heh...that code was huge for saving me a ton of time creating reST tables, which, I believe, is a form of punishment in violation of the UN Convention Against Torture.

Sounds good to me.

[2015-05-15 20:00] jdmgoogle opened #162 "Clean up NonHouseAddress"
Remove duplicate elements that are part of the `NonHouseAddress` element within the `StreetSegment`. Right now we (Google) don't and have never done anything with the Prefix and Suffix parts of the `HouseNumber` in `NonHouseAddress`. Plus the `Apartment` and `HouseNumber` elements in `NonHouseAddress` duplicate (or have been replaced) by the `Unit` and `StartHouseNumber` and `EndHouseNumber` eleme

[2015-05-16 20:27] jungshadow commented on #162
@nomadaisy @pkoms Can you weigh in on the need for `HouseNumber` and its related prefix and suffix elements? If we have `StartHouseNumber`, `EndHouseNumber`, and `UnitNumber` is there a need for them? I'm thinking no, but it would great to have your input.

[2015-05-18 14:16] jungshadow opened #164 "Include a way to specify campaign committee IDs"
Our first comment from our state partners:

I know that `ExternalIdentifiers` can handle just about anything, but does "national-level" for a type have enough specificity for campaign committee IDs? More generally, if one feed has multiple "national-level" identifiers on an element, will that end up being ambiguous for folks processing the data (i.e. does "national-level" really tell you more than

[2015-05-18 14:24] jungshadow opened #165 "Include lat/long for polling locations"
The second comment from the states:

This did exist in the never-launched 4.0 specification. It may be worth adding this to `ContactInformation` as well rather than just polling location in case it could be useful for other elements (e.g. `ElectionAdministration`). To that point, does it make sense to extract the address "guts" of `ContactInformation` and reuse in `PollingLocation` (NB: I have a f

[2015-05-18 14:27] pstenbjorn commented on #165
@jungshadow this is something we had discussed a while back but was excluded from the 5.0 spec for reasons I do not recall.  Given some of our addressing challenges it would be helpful to have a geolocation option for polling location addresses.

[2015-05-18 14:32] jdmgoogle commented on #164
This is *exactly* the use case for `ExternalIdentifiers`. Just use `Type` of "other", `OtherType` of "campaign-committee-id", and `Value` of whatever the ID is.

[2015-05-18 14:39] jdmgoogle commented on #165
#include "std_disclaimer.h"

@pstenbjorn The reason we ended up not going with them in 5.0, I believe, is that the lat/lngs we got from the states and from third parties were usually wrong, and often by a large amount. For example, when we cross-checked the lat/lng coordinates provided by another large service for 1,000 addresses:

- Only 10% of addresses were within 10 meters of the provided lat/

[2015-05-18 15:09] jungshadow commented on #164
Fair point (forgot about `OtherType` for a moment there). I'm still thinking about the effectiveness of "national-level," tho...

Assuming no one has issues with this approach, I'll mark this as resolved and close.

[2015-05-18 15:10] jungshadow commented on #165
@jdmgoogle Side note on this, I don't think we included the lat/long values in the previous feeds–mostly because we didn't have a place for them. Did they actually come from the states?

[2015-05-18 16:04] #159 closed

[2015-05-18 18:20] jktomer commented on #165
@jdmgoogle I think you might be remembering a different data source. I don't recall ever seeing polling place geocodes in a VIP feed.

Regardless, Google is unlikely to use lat/longs supplied by anyone other than ourselves (we geocode all polling location addresses for our product anyway), but I don't oppose adding them to the spec if other people feel they might be useful.

[2015-05-18 18:53] jdmgoogle commented on #165
@jktomer It was definitely something involving street segments. It may have been from a non-official source, though.

I'll echo the "I'm okay having them in the spec for non-Google people to use (but we're only using values from our own geocoder)" sentiment.

[2015-05-19 13:46] jdmgoogle opened #166 "Update street segments to handle addresses which are intersections"
This is an extension of #118, specifically in how we can apply it to the `StreetSegment` element.

[2015-05-19 13:57] jdmgoogle commented on #155
Fixed by #161.

[2015-05-19 13:57] #155 closed

[2015-05-19 13:58] jdmgoogle commented on #162
Closed by #161.

[2015-05-19 13:58] jdmgoogle commented on #160
Fixed by #161.

[2015-05-19 13:58] #160 closed

[2015-05-19 13:59] jdmgoogle commented on #164
Tagging this one as closed. Re-open as necessary.

[2015-05-19 13:59] #164 closed

[2015-05-19 14:08] jungshadow commented on #165
Thanks for the feedback on this.

@jdmgoogle @jktomer @pstenbjorn @cjerdonek One remaining question here: Should `ContactInformation` be further abstracted for general use on any element with an address? It seems weird to add a lat/long to `ContactInformation` to cover election admin offices and additionally add it to `PollingLocation`.

[2015-05-19 17:17] cjerdonek commented on #165
You mean a "SimpleAddress" type with two elements "AddressLine" and "LatLong"?  I'm okay with that.  At least for me, the reason I didn't suggest doing that earlier is that at the time such a type would have only had "AddressLine".

[2015-05-19 17:37] jdmgoogle commented on #165
Here are the various options I see:

1. Create a `LatLng` object and add it as an optional field in `PollingLocation`;
2. Same as (1), but also add it as an optional field in `ContactInformation`;
3. Create a `SimpleAddress` type with [1,unbounded] `AddressLine` elements and use it `PollingLocation`; or
4. Same as (3) but also use it in `ContactInformation`.

Changing `ContactInformation` means we

[2015-05-21 19:50] jdmgoogle commented on #165
After some further investigation of 1622.2, it looks like there's not a feasible way to add lat/lng to `ContactInformation`; the existing `SpatialDimension` element in 1622.2 fits their use case well, and is overkill for adding to `ContactInformation`.

Given that, I'm officially going to recommend we add a `LatLng` element to `PollingLocation`.

Yea/nay?

[2015-05-21 20:04] jungshadow commented on #165
Yea.

[2015-05-21 20:08] pstenbjorn commented on #165
Yea

[2015-05-22 13:46] jungshadow commented on #109
@cjerdonek @pkoms @pstenbjorn Can we close this as a duplicate of #60 or should it be modified to just deal with the styleguide/contributing doc changes?

[2015-05-22 13:48] jungshadow commented on #109
Hmm...retracting my last comment, since this deals with the CSV format itself. I think we may want to modify the issue to cover what the expect output is though (assuming the question's been answered).

[2015-05-22 13:50] jungshadow commented on #48
There will be spec additions/modifications and a lot of the docs are still in-progress, but I think we can safely close this issue off, since it is possible to submit updates to both the doc and the changelog now. Reopen if needed.

[2015-05-22 13:50] #48 closed

[2015-05-22 14:06] cjerdonek commented on #109
My intention in filing this issue was to document whether CSV needs to be supported for each XML element.  @pkoms answered this [here](https://github.com/votinginfoproject/vip-specification/issues/109#issuecomment-95966132).

So I would say this issue can be resolved by doing the following:

1. Stating explicitly in the XML and CSV documentation that the CSV format supports all XML fields (or shou

[2015-05-22 15:23] jungshadow opened #170 "How to best handle presentation logic in long text areas"
For elements like `BallotMeasureContest`, there are fields that can contain multiple paragraphs of text (e.g. `FullText`) and need to allow for some markup of some kind. A few states provide the information as HTML, but that tends to be troublesome for processing. Should there be a standard/enforced way of providing this formatted data or should everything be wrapped in a CDATA section?

[2015-05-22 16:30] pstenbjorn commented on #170
@jungshadow there are essentially two choices for formatted data, replace special characters and handle escape codes e.g. `&lt;div id=&quot;header&quot;&gt;` or use CDATA to wrap the formatted block e.g. `<![CDATA[<div id="header">]]>`.  I am agnostic since both would need handling on the generation side and neither is perfect.

[2015-05-22 17:19] jdmgoogle commented on #170
I agree with @pstenbjorn that this should be up to the data providers on how to handle.

[2015-05-22 17:33] cjerdonek commented on #170
Regarding the underlying data itself (and not how it should be encoded), I do agree that formatted text seems necessary in some cases.  For example, if the full text contains strikeouts as underlines, there would need to be a way to support that (e.g. HTML or some other kind of markup language).

A couple comments:

1. @jungshadow, are you saying that is HTML problematic as a data source, independ

[2015-05-22 18:29] jungshadow commented on #170
Answering these comments in reverse order:

@cjerdonek More the latter and was digging for some opinions. We've seen some standard (X)HTML and some non-standard HTML. The presentation logic can wreak havoc with tools, since developers will never know what they're going to get. Additionally, the jurisdictions will use CSS classes to display bits of information a certain way, but then is only applic

[2015-05-25 22:51] jungshadow opened #173 "Document Candidate Elements"
Finish the documentation for `Candidate`, `CandidateContest`, and `CandidateSelection`.

[2015-05-26 02:11] jungshadow opened #175 "Document ContactInformation"
Finish documenting `ContactInformation`. I marked this also as a question, but it's more of a statement about `identifier`:

[code]

Reading back through #144, I think we may have put the cart before the horse. I'd prefer @nomadaisy and/or @pkoms weigh in on this convention, since they're in charge of "CSV-ing" the spec. If they think this idea works the best for them...great and I'll shut up :) /

[2015-05-26 15:04] #37 closed

[2015-05-26 15:04] #173 closed

[2015-05-26 15:21] jungshadow commented on #158
@jdmgoogle In the interest of keeping discussions in the issues rather than the PRs, regarding [your comment](https://github.com/votinginfoproject/vip-specification/pull/172#issuecomment-105492034) on `PassageThreshold`, if one `BallotMeasureContest` is dependent on another `BallotMeasureContest` to pass, should there be a link between the two? Not that I'm advocating for it–or that it's even poss

[2015-05-26 18:39] #158 closed

[2015-05-27 14:08] jungshadow commented on #165
Assigning to @jdmgoogle, but feel free to reassign to me if you don't want it.

[2015-05-27 14:10] jungshadow commented on #98
@jdmgoogle Can we close this?

[2015-05-27 14:11] jdmgoogle commented on #98
I believe so, yes. Closing it now.

[2015-05-27 14:11] #98 closed

[2015-05-27 14:15] jungshadow opened #177 "Document ContestBase"
Finish the documentation for ContestBase.

[2015-05-27 17:01] jdmgoogle opened #179 "Keep sample feed synced with spec"
This is an issue that should be kept open until 5.0 is officially released. It is here to remind us to keep the sample feed synced with the spec itself. Any PRs which fix the sample feed from earlier breakages should reference this issue.

[2015-05-27 17:05] jdmgoogle commented on #165
Whoops. Spelling error in the spec.

[2015-05-27 17:20] #165 closed

[2015-05-27 21:19] pkoms commented on #175
We do need CSV support for ContactInformation. The XML description is fine. I think our process suggests I should close this and open a separate issue for CSV support for ContactInformation, but @jungshadow, can you confirm before I do?

[2015-05-27 21:42] jungshadow commented on #175
@pkoms As soon as #176 is merged, this issue will auto-close. If you want to start a discussion about how to deal with ContactInformation, et al in CSVs, we should add a milestone w/deadline for the CSV format and start assigning issues to it. Cool?

[2015-05-28 03:18] cjerdonek opened #183 "Document VoteVariation enum"
Document the VoteVariation enum.

[2015-05-28 15:51] pkoms opened #185 "CSV Support for ContactInformation"
Now that ContactInformation has been made free-floating, it needs its own flat file and set of linking flat files.

I believe the complete list is:
ContactInformation
Source_ContactInformation
ElectionAdministration_ContactInformation
VoterService_ContactInformation
Office_ContactInformation

[2015-05-28 15:58] pkoms opened #186 "CSV Support for Street Segment Units"
Now that units within a street segment appear in a list, rather than a range, we'll need a way of indicating, using flat files, what units are in any given multi-unit lot.

[2015-05-28 16:01] pkoms opened #187 "CSV Support for ExternalIdentifiers"
We need a means for flat files to support an arbitrary number of ExternalIdentifiers.

[2015-05-28 16:11] pkoms opened #188 "CSV Support for Locality : ElectionAdministration and State : ElectionAdministration"
Since Locality / State : ElectionAdministration is no longer a 1:1 relationship, we'll need Locality/State_ElectionAdministration files

[2015-05-28 17:53] jktomer commented on #185
Can the contact info be inlined in the CSVs? That seems more useful, from a CSV creator's perspective.

If there can be more than one ContactInformation per CSV record _in practice_ -- regardless of what's technically allowed in the XML spec -- then this wouldn't work. But my instinct is that for the CSV format you'd want as few files as practical.

I don't actually ever deal with the CSVs, though

[2015-05-28 18:17] pkoms opened #189 "CSV Support for Voter Services"
We need to create a file for VoterServices, and linking files for ElectionAdministration and all of VoterServices's constituent elements.

(I'm labeling this as a bug because I think any failure of the CSVs to support XML is a bug, but I'm happy to be overruled and re-label this as an enhancement instead.)

[2015-05-28 19:16] pkoms opened #190 "Import VIP 3.0 CSV Specification To Use As Baseline CSV Specification"

[2015-05-29 03:07] jungshadow commented on #190
Thinking aloud, are you sure you want to start with the 3.0 CSVs? I'm wondering if it's easier to start fresh, considering the number of changes.

[2015-05-29 15:13] pkoms commented on #190
I can see it either way. Paging @nomadaisy: which do you prefer?

[2015-05-29 18:01] #177 closed

[2015-05-29 19:56] #175 closed

[2015-05-29 21:36] cjerdonek opened #192 "Make sure "identifier" attribute is present and correct as needed"
We need to make sure that a flat-file "identifier" attribute is present (as an optional attribute) for all types whose objects are instantiated in-line (i.e. not defined in a top-level node of the XML document).  This includes things like ContactInformation, Term, etc.  The reason for this, again, is to allow tracking nested objects back to their corresponding row in a flat file when flat files ar

[2015-06-01 03:16] jungshadow opened #193 "Document ElectoralDistrict"
The subject essentially says it all.

[2015-06-01 03:48] jungshadow opened #195 "Document ExternalIdentifiers"
As advertised.

[2015-06-01 10:42] jdmgoogle opened #197 "Document HoursOpen"
Document and provide examples for the `HoursOpen` element.

[2015-06-01 10:43] jdmgoogle opened #198 "Document InternationalizedText and LanguageString"
Document the `InternationalizedText` and `LanguageString` elements.

[2015-06-01 10:44] jdmgoogle opened #199 "Document Office element"
Document the `Office` element.

[2015-06-01 10:45] jdmgoogle opened #200 "Document OrderedContest"
Document the `OrderedContest` element.

[2015-06-01 11:01] jdmgoogle opened #201 "Document Party element"
Document the `Party` element.

[2015-06-01 11:05] jdmgoogle opened #202 "Document PartyContest and PartySelection elements"
Document the `PartyContest` and `PartySelection` elements.

I'm putting both of these in one item since they're just extensions of `ContestBase` and `BallotSelectionBase`, respectively, with no additional modifications.

[2015-06-01 11:06] jdmgoogle opened #203 "Finish documenting Person element"
Finish documenting the `Person` element. There are only a few fields left.

[2015-06-01 11:07] jdmgoogle opened #204 "Document RetentionContest element"
Document the `RetentionContest` element.

[2015-06-01 14:58] #193 closed

[2015-06-01 14:58] #195 closed

[2015-06-01 18:54] nomadaisy commented on #190
We might as well start fresh, which should be about the same amount of work.

[2015-06-01 19:59] cjerdonek commented on #183
Closed by PR #184.

[2015-06-01 19:59] #183 closed

[2015-06-01 19:59] jungshadow commented on #197
@jdmgoogle Whoops...I'd started filling this out, when I noticed that you'd assigned yourself. How far did you get?

[2015-06-01 20:00] jdmgoogle commented on #197
See PR #205. :)

[2015-06-01 20:01] jungshadow commented on #197
Just saw that. Should have checked the assignees before starting on it. _Mea culpa_.

[2015-06-01 20:02] jdmgoogle commented on #197
No worries. Sorry I wasn't more explicit about claiming this. I'm now working on #202.

[2015-06-01 20:10] jungshadow commented on #197
Nope...still my bad. Should have checked. We have these systems so you don't have to be ridiculously explicit :)

[2015-06-01 20:10] pkoms commented on #190
Closing.

[2015-06-01 20:10] #190 closed

[2015-06-01 20:24] pstenbjorn commented on #202
@jdmgoogle in going through my example today it seems that the element `PartyId` is missing from `PartyContest` unless I am missing something.

[2015-06-01 20:39] jdmgoogle commented on #197
Closed by #205.

[2015-06-01 20:40] #197 closed

[2015-06-02 14:11] jungshadow opened #208 "Update README with current documentation link"
It currently points to the GitHub pages site. It should point to the [Read the Docs site](http://vip-specification.readthedocs.org/en/vip5/). Eventually, when vip5 is merged into master, the link will have to change, again.

[2015-06-02 16:50] jungshadow opened #210 "Error in Documentation Build: hours_open.rst"
Looks like the indentation is wrong on this code block. The code block has to line up with the colon in the options list (i.e. in this case, `:linenos:`). Trace:

[code]

[2015-06-02 19:15] jdmgoogle opened #215 "Document TimeWithZone and HtmlColorString patterns"
Document the `TimeWithZone` and `HtmlColorString` restricted string patterns.

[2015-06-02 19:23] #199 closed

[2015-06-02 19:27] #200 closed

[2015-06-02 20:48] #204 closed

[2015-06-02 21:00] jdmgoogle commented on #202
Closed by #206.

[2015-06-02 21:00] #202 closed

[2015-06-02 21:25] #203 closed

[2015-06-03 00:42] #215 closed

[2015-06-03 00:42] #210 closed

[2015-06-03 00:42] #201 closed

[2015-06-03 03:44] #198 closed

[2015-06-03 17:37] jdmgoogle commented on #40
To clarify, @cjerdonek is referring to this link:

http://votinginfoproject.github.io/vip-specification/#changelog

[2015-06-03 17:50] jdmgoogle commented on #179
Items that need to be added to the sample feed:

1. Ballot measure contests;
2. Retention election (Utah 2014 sample data);
3. Judicial elections (compare/contrast LA elections with item (2));
4. Internationalized text;
5. Early voting sites;
6. Combination early voting site/election-day voting site;
7. Drop boxes;
8. Mail-only precincts;
9. A `LatLng` in a  `PollingLocation`.

[2015-06-03 18:01] jdmgoogle commented on #170
Decision: everything is going to be plain text, with standard XML escaping for special characters.

States that send HTML to Pew/other VIP-feed-generators will have that HTML converted to text before the feed is published.

[2015-06-03 20:43] jungshadow opened #219 "Add a Name element to Election"
Late addition to the spec, but one of the things we continue to run into is what a particular election is called. All the ancillary information in `Election` is important, but doesn't communicate a user-friendly name for the upcoming event. My thoughts:

* It should be Optional for now, but move to **Required** after we upgrade folks from 3.0 to 5.0;
* The type should be `InternationalizedText`;

[2015-06-03 20:46] pstenbjorn commented on #219
Yes!  I agree this is needed and can explore uses of the data element in future discussions.

[2015-06-03 21:29] jungshadow commented on #219
Cool. I don't mind taking this on, but I'll wait for @jdmgoogle to weigh in on this (**NB:** not omitting anyone else who'd like to weigh in).

Here's what I'm thinking:

[code]

[2015-06-03 21:39] jungshadow commented on #179
@jdmgoogle Hope you don't mind that I changed your numbered list into a todo list. Just thought it might be easier to tick off the things when they were finished :)

[2015-06-04 11:05] jdmgoogle commented on #219
Sounds good to me.

[2015-06-04 13:34] jungshadow commented on #219
[Excellent](http://bukk.it/ehhhhhhksellent.gif). I'll make a pull request that updates both the spec and the docs.

[2015-06-04 13:47] pkoms opened #220 "Fix PollingLocation Documentation Issues"
Reconcile these two cells in https://github.com/votinginfoproject/vip-specification/blob/vip5/docs/xml/elements/polling_location.rst

Required? | Error Handling?
-------------- | -------------
Optional | If the field is invalid or not present, the implementation is required to ignore the PollingLocation element that contains it.

[2015-06-04 14:01] #208 closed

[2015-06-04 14:07] jungshadow commented on #219
Make that: "the spec, the docs, and the sample feed."

[2015-06-04 14:34] #219 closed

[2015-06-04 15:09] jungshadow commented on #220
I'm expanding the scope of the issue a bit since there are a few other issues that are mostly cosmetic and really don't need separate issues:

- [ ] Fix mismatch between **Error Handling** and **Required?** columns as listed above
- [ ] Link to `HoursOpen` doc in `PollingLocation.Hours` description
- [ ] Add `LatLng` header before its preamble and table and fix `PollingLocation.LatLng` link (**NB:

[2015-06-04 15:35] jungshadow commented on #40
I just realized that I skirted the formal process on this one. Mah bad, but this is fixed: http://votinginfoproject.github.io/vip-specification/

[2015-06-04 15:52] cjerdonek commented on #40
Per yesterday's discussion, wasn't part of this issue to add to the _new_ documentation a link to the release notes?

[2015-06-04 16:30] jungshadow commented on #40
Ah...yes it was. Forgot about that.

[2015-06-04 21:20] #220 closed

[2015-06-04 21:24] #40 closed

[2015-06-04 21:32] jungshadow opened #227 "Strike authors from Sphinx config file until there's a complete list"
There's an abbreviated list of authors in `conf.py` that should be removed until we have a complete list of contributors. Additionally, the list currently break the PDF rendering.

[2015-06-04 23:23] cjerdonek commented on #192
See the related issue #149, which is to document this pattern in the style guide.

[2015-06-05 03:01] cjerdonek opened #230 "Synch VoteVariation with latest 1622.2"
VSSC 1622.2 came out with their updated draft today (version 43, see [here](http://grouper.ieee.org/groups/1622/groups/2/)), so this issue is to synch our spec with their latest draft (in the places that we are mirroring 1622.2).  I mentioned that we might need to do this during our hangout meeting yesterday (on Wed, June 3).

[2015-06-05 03:18] jungshadow commented on #170
Just thought about this issue a bit more and couldn't we do (roughly) something like this?

[code]
Theoretically, this would preserve the whitespace (i.e. newlines and all) in the `InternationalizedText.Text` blocks...assuming I haven't screwed this up. I'm going to look to @pstenbjorn, @jdmgoogle, @cjerdonek, and @nomadaisy to explain why this won't work, since my XML-fu isn't all that strong :)

[2015-06-05 03:34] cjerdonek commented on #170
I didn't research this carefully, but my understanding is that "xs:string" already preserves whitespace (i.e. it's just a string of characters), so it doesn't seem to me like we need to take any action.  It's HTML that collapses whitespace, etc, but we aren't going with HTML.

[2015-06-05 03:36] cjerdonek commented on #170
Here is one reference: http://books.xmlschemata.org/relaxng/ch19-77303.html

[2015-06-05 03:51] jungshadow commented on #170
@cjerdonek Gotcha. I was imagining this would provide explicit instructions for the processor, but, looking a bit deeper, you're right, it does look like it's supposed to be preserved. On the HTML-side of things, I suppose we could dump certain responses into `<pre>`-blocks...but that might be asking for trouble.

[2015-06-05 03:54] cjerdonek commented on #170
Yeah, that's another option.  If we had decided to go with HTML as the standard, then jurisdictions equipped only for plain-text could just enclose in `<pre>` to retain the prior plain-text formatting.

[2015-06-05 03:56] jungshadow commented on #170
@cjerdonek I'm still feeling pretty good about nixing HTML. Let's keep going down that road :)

[2015-06-05 03:58] cjerdonek commented on #170
Fine with me!

[2015-06-05 12:01] jdmgoogle commented on #170
I love coming to work in the morning and finding a lengthy discussion thread that agrees with my thinking on an issue. :)

[2015-06-05 12:24] pstenbjorn commented on #170
Looks like so far we have a consensus.

[2015-06-05 12:55] #227 closed

[2015-06-05 14:26] jdmgoogle opened #232 "Sync with draft release of 1622.2"
This should be one of the last "sync with 1622.2" changes.

[2015-06-05 14:41] jungshadow opened #233 "Update CONTRIBUTING with instructions for running Sphinx"
As advertised above, this is to help contributors build the documentation prior to contributing.

[2015-06-05 17:22] jdmgoogle opened #235 "Add IncludesAllAddresses to StreetSegment"
Add an `IncludesAllAddresses` boolean field to `StreetSegment` to indicate that this segment covers all addresses on this street. This approach is preferable to having magic values -- e.g., 0 or 9999999 -- to say "this covers everything."

[2015-06-05 18:39] #230 closed

[2015-06-05 19:59] cjerdonek opened #237 "Alphabetize elements inside the root VipObject"
I noticed that the elements inside the root VipObject still need to be alphabetized per [this section](https://github.com/votinginfoproject/vip-specification/blob/vip5/STYLEGUIDE.md#elementattribute-ordering) of the style guide.  The fact that they weren't made it a bit harder to work on issue #192.

[2015-06-05 22:00] nomadaisy opened #238 "Small changes to documentation"
I found the following small documentation issues to fix, most of which are consistency issues:

- [x] BallotMeasureContest text description, "Extends extends ContestBase" should delete the second "extends"
- [x] Inconsistent handling of URI (uri) vs. URL (url). Examples of elements with old descriptions using URL: Election, ElectionAdministration, Source
- [x] Inconsistent listing of "element" vs.

[2015-06-06 07:17] cjerdonek opened #240 "Confusing error message following xmllint instructions"
The CONTRIBUTING docs say to run:

    $ xmllint --postvalid --nonet --xinclude --noout --schema vip_spec.xsd sample_feed.xml

However, when I run this I get the following unhelpful, self-contradictory message:

    validity error : no DTD found!
    Document sample_feed.xml does not validate
    sample_feed.xml validates

(Following the online validation instructions, I got no errors.)

[2015-06-07 06:37] cjerdonek opened #241 "FileDate should be xs:date not xs:dateTime?"
See title.  The sample feed doesn't have an example.  But it requires HH:MM:SS to validate.

[2015-06-07 20:27] cjerdonek commented on #241
If the element should be xs:dateTime, then it would be much better and less confusing if it were called something that "FileDateTime" or "FilingTime".

[2015-06-08 12:22] jdmgoogle commented on #235
Closed by #236.

[2015-06-08 12:22] #235 closed

[2015-06-08 12:45] cjerdonek opened #242 "TTY phone numbers"
I was helping someone implement ElectionAdministration for San Francisco, and I noticed that there doesn't seem to be a way to designate a TTY phone number.  See SF's "Contact Us" page [here](http://www.sfgov2.org/index.aspx?page=3335) for an example of a TTY phone number.

Currently, ContactInformation just has phone number elements for "Fax" and general "Phone," but no way to designate a phone n

[2015-06-08 12:49] jdmgoogle commented on #240
The last line is the one that matters. It can't find a DTD (which is fine, since we're using an XSD instead of a DTD), and originally fails to validate because of that. Then it realizes everything's okay because it has a schema.

I tend to use [jing](http://www.thaiopensource.com/relaxng/jing.html) in addition to `xmllint` since that actually checks the ID/IDREF values.

Should we update the docum

[2015-06-08 12:54] cjerdonek commented on #240
Yeah, I think including a sample of the expected output and adding a note to ignore the first two lines would be a fine way to go:

    validity error : no DTD found!
    Document sample_feed.xml does not validate
    sample_feed.xml validates

Regarding the ID/IDREF values, I was finding that xmllint was also noticing bad values, though it doesn't seem to notice _all_ bad values, which was strang

[2015-06-08 12:55] cjerdonek commented on #240
Oh, and better yet would be if xmllint has a flag to make the spurious error go away.  I didn't find one on a quick scan of the help though.

[2015-06-08 13:10] cjerdonek opened #243 "Document whether AddressLines should include the name"
I think the documentation for ContactInformation.AddressLine should say whether the address lines should include the "name," which also appears as ContactInformation.Name.  For example, here is the address for the SF Department of Elections:

1 Dr. Carlton B. Goodlett Place, Room 48
San Francisco, CA 94102

Since "Department of Elections" is already appearing as the ContactInformation "Name," does

[2015-06-08 13:12] cjerdonek commented on #243
My instinct is that the AddressLines should be self-contained and include the name, e.g. since the "name" might not always be the first address line.

[2015-06-08 13:40] jdmgoogle commented on #241
Correct, `FileDate` should be `xs:date` instead of `xs:dateTime`.

[2015-06-08 13:46] cjerdonek commented on #240
FYI, if I remove `--postvalid` and just run--

    $ xmllint --nonet --xinclude --schema vip_spec.xsd --noout sample_feed.xml

It works without the spurious message and seems to catch errors okay.  Is there a case where `--postvalid` is necessary to catch something?  ([Here](http://fahdshariff.blogspot.com/2011/10/validating-xml-with-xmllint.html) is where I saw an example of checking against an X

[2015-06-08 13:58] cjerdonek commented on #241
I created PR #244 for this.

[2015-06-08 15:07] pkoms opened #245 "ElectionAdministration.Department error handling"
Currently, the presence of one bad Department in an ElectionAdministration breaks the entire object. I understand wanting at least one functional Department in the ElectionAdministration, but might it make more sense to require only one valid Department, and have only the relevant Department break if a subsequent one is invalid?

[2015-06-08 15:22] pkoms opened #246 "ElectionAdministration.Department.ElectionOfficialPersonId single vs. multiple"
From having spent too much time on state election official lists, I know that the lists sometimes find it  important to list not only the head person, but also deputies, co-heads, associate vice-deputies, etc. Is there any reason not to make ElectionAdministration.Department.ElectionOfficialPersonId capable of repeating?

[2015-06-08 15:25] cjerdonek commented on #246
Seems reasonable to me.

[2015-06-08 15:26] cjerdonek commented on #245
Is this even possible -- i.e. to indicate in an XSD that some element doesn't need to "validate"?

[2015-06-08 15:40] pstenbjorn commented on #245
@pkoms if I understand your suggestion, this would require the creation of another element in the schema (for the primary `Department` that would require all valid elements) and then another element where fields were optional.  What are the elements that are causing the the invalid `Departments`?

[2015-06-08 15:42] pkoms opened #247 "Support for per-precinct EV sites"
I'm sorry I didn't catch this sooner, but on the Precinct documentation, we specify "Multiple **PollingLocationId** tags may be specified, but this use should be reserved for when multiple Election-Day-only vote locations serve specific precincts."

There is such a thing as a per-precinct early vote site. For example, in Coconino County, AZ, in November 2014, aside from the county-wide EV site, in

[2015-06-08 19:18] cjerdonek commented on #245
FYI, from what I can tell, everything is already optional.

[2015-06-08 19:43] pkoms commented on #245
Chris, you're right that all fields are optional. Given how much of a pain it would be to fix, can we at least change the error handling language to make sense given the 1+ nature of Departments?

[2015-06-08 19:58] cjerdonek commented on #245
@pkoms I think what @pstenbjorn is asking is what types of errors are you getting in the subsequent Departments.  Are there many types of errors or just a couple?  And in either case, what are some of them?

[2015-06-08 20:05] pkoms commented on #245
Ah, I see what wasn't clear. My first sentence should have had an "According to the documentation..." Let me restate.

Currently, the documentation suggests that one bad Department in an ElectionAdministration should break the entire object. I understand wanting at least one functional Department in the ElectionAdministration, but I thought it might make more sense to require only one valid Depart

[2015-06-08 20:18] cjerdonek commented on #245
Oh, okay, thanks.  That seems more like a processing issue rather than an issue with the XSD.  So you want to say something like the following?

If this is the case, then implicitly the first department must be the _primary_ one.  I would also add that fact in the "Description" column.

[2015-06-08 21:47] pkoms commented on #245
I think my ideal is:

But I don't know if that's infeasible from a processing perspective. @jdmgoogle thoughts?

[2015-06-11 19:15] jktomer commented on #247
That just seems like a documentation bug; there's no reason as far as I can tell not to have multiple early voting sites attached to a precinct, and we plan to support this.

[2015-06-12 18:56] JohnArntz opened #248 "Provide documentation as a single page"
Hello.  As an elections official it would be most helpful to  be able to view the list of objects and fields on one screen or page without having to click through many pages and also read code (XML).  If I were to have a list of objects and fields that I can easily reference without having to know how to read code (human readable, in other words), it would better facilitate my providing pertinent

[2015-06-15 12:38] jdmgoogle commented on #248
@JohnArntz Hi, welcome to the VIP GitHub!

That definitely seems like a good request. @cjerdonek or @jungshadow, would we be able to script something like this?

[2015-06-16 02:46] cjerdonek commented on #248
@jdmgoogle Yeah, my sense is that this should be pretty doable.  After poking around, it might not even require any scripting (e.g. perhaps using multiple "include" directives in an `xml/single_page.rst`).  I should be able to help with this and will have more time to start taking a look next week or so.

[2015-06-16 02:53] cjerdonek opened #249 "Make tables in docs viewable without horizontal scrolling on Desktop"
It would be helpful if we can somehow make the tables in the documentation fully visible without having to scroll the table horizontally.  I'm attaching a screen shot of how a table currently looks:

![vip](https://cloud.githubusercontent.com/assets/355822/8174943/136a2d9a-1398-11e5-9e81-536f20efddb4.png)

[2015-06-16 10:43] jdmgoogle commented on #248
@cjerdonek Thanks. Assigning this one to you for now.

[2015-06-16 18:08] jungshadow commented on #249
@cjerdonek This is something I'm planning to tackle. I'm a little concerned that we may be pushing the boundaries of the template by using (somewhat intractable) 6-column tables. The tables are currently a problem for the generated PDF. We may eventually need to condense the tables into 5-columns (not my favorite option) or approach writing the docs in a more long-form way (e.g. [the python docume

[2015-06-16 18:23] cjerdonek commented on #249
Personally, I think HTML tables are fine (e.g. the ones you see in the v3 docs here: http://votinginfoproject.github.io/vip-specification/ ).

In the short term, I was hoping that this issue could be addressed by a simple change (e.g. a CSS change to allow text wrapping within table cells).  In the longer term, I was going to recommend generating the docs programmatically (something I've mentioned

[2015-06-16 18:53] jungshadow commented on #249
@cjerdonek Sorry, Chris. I might not have been entirely clear. Personally, I like the look of the tables, but we're breaking through the hard "physical" boundaries of the theme. When on smaller screens/devices, there just isn't enough space for the a 6-column table to exist without scrolling, especially with names like `BallotMeasureType` or `InternationalizedText` which can't wrap or be abbreviat

[2015-06-16 19:36] jungshadow commented on #249
Doing a bit of experimentation, this is the result of some of the lengthier tables (_**NB:** it's hard to see, but the table expands beyond the established margins of the page_):

![table_example](https://cloud.githubusercontent.com/assets/85972/8192573/12f230b0-143d-11e5-8d78-417e2a755d0a.png)

[2015-06-16 19:46] jungshadow commented on #238
@nomadaisy Thanks for being thorough with the doc issues. Hard to address all of this here, but I did want to make one note on the quoted section above. I aimed to be intentional with how I talked about "fields" vs "elements" (_**NB:** I'm a bit behind on updating the styleguide_). I used "field" when talking about an element that takes a single value (e.g. `State.Name`) and "element" when talking

[2015-06-16 22:01] cjerdonek commented on #249
Okay, thanks for the clarification, @jungshadow.  Re: smaller screens, I would suggest making that a separate issue for tracking purposes.

Re: your screenshot, that looks encouraging.  Thanks for the sneak peek.  A couple suggestions: if "deprecated" in the first cell could be wrapped onto the second line, that would free up more width for the last two columns.  You could also free up more column

[2015-06-18 16:02] jungshadow commented on #249
Glad you like it, @cjerdonek. I'm ok using this as a half-measure for now until we get something more scalable, long-term. I don't see the small screen as a separate issue, since we should be making sure that every element that we add to the docs is responsive on all devices. If we need to push upstream changes to the theme, I'm happy to do that.

To your second point, I was ok with removing the d

[2015-06-18 16:35] cjerdonek commented on #249
@jungshadow I'm not saying the design shouldn't be responsive.  It's just that there are two different technical issues happening right now: (1) the table itself getting cropped, no matter how large the browser viewport is (which is what I filed this issue about), and (2) the information in the table not rewrapping to fit within small viewports.  The first issue is about needing to scroll the _tab

[2015-06-18 17:35] jungshadow commented on #249
@cjerdonek That makes sense. The theme is currently responsive, but our tables are not (and are difficult to be made so given the amount of information).

For what I have, I'll submit a pull request. The content fixes (e.g. separating the name from the **[Deprecated]** bit) can be collectively handled in another issue, as well.

[2015-06-19 15:36] #233 closed

[2015-06-23 14:55] jungshadow opened #252 "Fix documentation on Read the Docs"
In my last PR #250, I unwittingly introduced a bug that completely borked the online documentation and removed the theme stylesheet. I'll create a PR to fix that.

[2015-06-23 20:26] #252 closed

[2015-06-24 03:31] jungshadow commented on #249
This is "fixed," but looks horrible on mobile. I'm going to close this issue as fixed (with the name change) and open a separate issue to deal with breakpoints. Feel free to reopen if you disagree.

[2015-06-24 03:31] #249 closed

[2015-06-24 03:32] jungshadow commented on #249
Closed by #250.

[2015-06-27 20:48] cjerdonek opened #254 "Line length in CONTRIBUTING.md"
A bunch of lines in `CONTRIBUTING.md` are longer than 200 characters.  We should wrap them in accordance with the style guide.

[2015-06-28 07:31] cjerdonek opened #255 "Auto-generate tables in documentation"
This issue is to auto-generate the reST tables in the documentation from structured data, which is something I've suggested in the past.

I think this will open up a lot of possibilities for us.  For one, it will make the reST tables a lot easier to manage because we will be able to manage their appearance and formatting in one place.  (It is also _way_ easier to edit a YAML value than to edit a v

[2015-06-28 07:36] cjerdonek commented on #255
I created PR #256 for this.

[2015-06-28 16:48] cjerdonek commented on #255
To illustrate a bit more, you can see how values like "`Optional`", "`**Required**`", and "If the field is invalid or not present, then the implementation is required to ignore it." are set globally [here](https://github.com/cjerdonek/vip-specification/blob/f69a742468f381f7866c3539358a829146993490/scripts/vippy/rest.py#L75).  I noticed lots of variation in the past phrasing, a lot of which is made

[2015-06-28 20:05] cjerdonek commented on #249
FYI, it should be easy to play around with different options (e.g. condensing columns, moving to long-form, etc) after issue #255.

[2015-06-29 17:52] cjerdonek commented on #238
I just want to say that PR #255 addresses a number of the items in this checklist (and in a DRY and automated way), especially around the error-handling column.  For example, it automatically chooses correctly between "field" and "element" (item 3).  It automatically uses the correct casing of the element name (item 4 re: Locality and item 10 re: StreetSegment).  And it correctly chooses the langu

[2015-06-29 18:27] jdmgoogle commented on #246
@pkoms Can you provide an example of a situation where we would not want to list separate `Department` objects but have multiple people within that `Department`? My understanding behind the purpose of breaking things into different Departments was to support this type of granularity.

[2015-06-29 18:28] jdmgoogle commented on #247
I second @jktomer's comment. We support per-precinct early voting sites. The documentation simply needs to be updated.

Handing it off to @jungshadow to fix or delegate as necessary.

[2015-06-29 18:33] jdmgoogle commented on #170
This issue appears to be decided: no HTML.

[2015-06-29 18:33] #170 closed

[2015-06-29 18:34] jdmgoogle commented on #232
Closing this out for now.

[2015-06-29 18:34] #232 closed

[2015-06-29 18:48] jdmgoogle commented on #237
SGTM (per my LGTM in #237).

[2015-06-29 18:53] cjerdonek commented on #241
Closed by PR #244.

[2015-06-29 18:53] #241 closed

[2015-06-29 18:53] jdmgoogle commented on #240
I *thought* that `--postvalid` was necessary to get it to cross-check the `xs:ID` and `xs:IDREF` values, but ... perhaps not? I've been using jing to do that:

http://www.thaiopensource.com/relaxng/jing.html

There are packages (at least) for Debian/Ubuntu and Fedora, and probably others. Let me know if it's (a) available, and (b) works for you on whichever distro you're using.

[2015-06-29 18:54] jdmgoogle commented on #242
Thoughts, @jktomer @jungshadow @pstenbjorn?

[2015-06-29 19:12] cjerdonek commented on #240
No, `--postvalid` doesn't seem to check ID and IDREF references (I just tried it).  The only ID / IDREF errors I've ever gotten are like the following:

    Element 'LocalityId': '1' is not a valid value of the atomic type 'xs:IDREF'.

But that error occurs with or without `--postvalid`.  So I don't know of any additional checks that occur with `--postvalid`.

[2015-06-29 19:29] jdmgoogle commented on #243
I disagree. Most elements with a `ContactInformation` field also have a `Name` element.

[2015-06-29 19:30] jdmgoogle commented on #245
Paging @jktomer to discuss the processing side of things.

[2015-06-29 19:30] jdmgoogle commented on #254
@cjerdonek Feel free to take a crack at this one (if you haven't already).

[2015-06-29 19:52] cjerdonek commented on #243
Yes, I know that (and said that in my OP).  My question is about programmatically creating an address label from the information in ContactInformation.  The two options I described are--

1. Concatenate "Name" and "AddressLines", or
2. Only use "AddressLines" (i.e. the AddressLines should make up a stand-alone address label).

I think (2) is better because it is simpler and more flexible, letting

[2015-06-29 19:54] cjerdonek commented on #242
Here is another data point (from [CA SOS web site](http://www.sos.ca.gov/administration/contact-information#elections)):

    Phone Numbers
    Main Number: (916) 657-2166
    TTY/TDD: (800) 833-8683
    Voter Hotline: (800) 345-VOTE (8683)
    Elections Division Fax: (916) 653-3214

[2015-06-29 20:07] jdmgoogle commented on #243
How often are users trying to create an address label? This isn't a flippant question, I'm actually curious as to whether or not this is a common use case.

The link you provided says that the SoS's office actually has multiple divisions, in which case it makes sense for the name to be "Elections Division" or "Secretary of State, Elections Division".

[2015-07-01 14:34] jdmgoogle opened #258 "Integrate NonHouseAddress fields into StreetSegment"
Currently the `StreetSegment` elements are divided between belonging to the `StreetSegment` itself and belonging to a `NonHouseAddress` object, which is only used within the `StreetSegment` object. The origin of the split is a historical artifact, but from the current perspective it makes no sense. This is a larger change than I'd like to make this late in the game, but if I don't make it now it's

[2015-07-06 16:12] jdmgoogle commented on #245
Ping @jktomer.

[2015-07-06 16:13] jdmgoogle commented on #246
Ping @pkoms.

[2015-07-07 14:44] #258 closed

[2015-07-07 15:56] jktomer commented on #245
TBH I don't like leniency in specs. It encourages people to leave things broken.

But I'm fine, I suppose, with the documentation stating that broken-but-XML-clean Departments will be ignored, and ElectionAdministrations with at least one non-broken Department will be accepted (and our pipeline actually behaving that way).

[2015-07-07 15:58] jktomer commented on #242
This is good to support. We should add a TDDNumber to ContactInformation (best not to wade into the quagmire of making things more generic).

[2015-07-08 15:29] jdmgoogle commented on #246
Closing this one out. Someone can re-open if we feel it's necessary, but I'd like to get this out the door ASAP.

[2015-07-08 15:29] #246 closed

[2015-07-08 19:20] jungshadow opened #262 "Add Biography field to Candidate element"
In looking at 3.0 vs 5.0, we missed adding `Biography` to the `Candidate` element. Here's the old 3.0 description:

| Tag | Data Type | Required? | Description | Error Handling |
| --- | --- | --- | --- | --- |
| biography | String | Optional | The biography specifies the candidate's biographical information. | If the biography field is invalid the implementation is required to ignore it. |

Seems

[2015-07-08 19:25] cjerdonek commented on #237
Addressed by PR #239.

[2015-07-08 19:25] #237 closed

[2015-07-10 12:59] jdmgoogle commented on #262
I'm going to push this back to 5.1 for two reasons:

1. I'd like to close the door on 5.0; and
2. This isn't in 1622.2, meaning there'd be a compatibility issue.

[2015-07-10 16:38] jdmgoogle commented on #242
Closed by #261.

[2015-07-10 16:38] #242 closed

[2015-07-10 16:39] jdmgoogle commented on #243
I'm moving this discussion to the "5.0 Documentation" milestone, since this is how we *use* the feed, not necessarily the spec itself.

[2015-07-10 16:41] jdmgoogle commented on #179
Moving this to "5.0 Documentation" since it has to do with the sample feed. The only item left is for me to examine how LA's judicial elections may be different than retention elections.

[2015-07-10 20:56] cjerdonek commented on #149
Closed by PR #229.

[2015-07-10 20:56] #149 closed

[2015-07-10 20:56] cjerdonek commented on #192
Closed by PR #229.

[2015-07-10 20:56] #192 closed

[2015-07-14 13:50] jdmgoogle commented on #243
Ping @cjerdonek. Do you have any insight or feedback on the questions I posted?

[2015-07-14 14:19] jdmgoogle commented on #243
Assigning this to @pstenbjorn so he can include it in #45, the "best practices" guide.

[2015-07-14 14:20] jdmgoogle commented on #248
Ping @cjerdonek: have you had a chance to look into this?

[2015-07-15 20:54] #254 closed

[2015-07-16 07:32] cjerdonek commented on #248
@jdmgoogle Just catching up on these pings.

My plan for this was to wait until PR #256 was resolved before digging in -- in case the changes involved would be conflicting.  There is a chance that this issue will require some restructuring / moving things around in some form, so I didn't want to have two such PR's in play at once.

[2015-07-16 08:11] cjerdonek commented on #243
@jdmgoogle One use case I had in mind was if someone wanted to mail something to each election official providing VIP data.  They would need to know how to programmatically construct the labels from the feed data.

Similarly, if someone wanted simply to _display_ the address on a web site (as opposed to actually mailing something), there is a similar ambiguity.  If the feeds are inconsistent in ho

[2015-07-16 14:29] jdmgoogle commented on #243
Hrm. Personally I'm of the opinion that the `AddressLine` values should contain the parts of the street address as opposed to the name of the place, since that's what the `Name` field is for. Perhaps the `Name` field should be repeated to allow for multi-line names (such as your second example). I'm open to feedback from @jungshadow @jen-tolentino @pstenbjorn @jktomer (the latter of which is OOO f

[2015-07-16 17:13] cjerdonek commented on #243
Another option would be to add a "NameAddressLines" tag which would let one separate the "street" portion from the name portion.

[2015-08-17 12:59] jdmgoogle commented on #240
Removing `--postvalid` appears to have cleared it up. I also added a comment about and link to `jing` in case people would like to run that, too.

[2015-08-17 12:59] #240 closed

[2015-08-17 13:00] jdmgoogle commented on #243
Paging @jungshadow @pstenbjorn @jen-tolentino to get more voices.

[2015-08-17 14:13] pstenbjorn commented on #243
@jdmgoogle a potential solution would be to change `Name` to unbounded and treat it like address.  In most instances though, the current structure of a name field followed by n-number of `AddressLine` elements.  However there are addresses where the name of a building is part of the address required for delivery or specificity in that case it should be an address line.

In short, IMO, the standard

[2015-08-17 14:52] cjerdonek commented on #243
Note that there are at least two use cases that need to be satisfied: (1) including the "name" in text like in a sentence, and (2) showing an address with the name portion in the first lines and the street address portion in subsequent lines.  If "name" is made a multi-line element, then it wouldn't be clear how to use that information in the first use case (1).  For example, would the instruction

[2015-08-17 17:37] jdmgoogle opened #266 "Update HISTORY.md just prior to release."
Make sure that the HISTORY.md is fully-up-to-date with all changes immediately prior to release.

[2015-08-18 13:21] jdmgoogle commented on #45
Note that @pstenbjorn started this with #225.

[2015-08-18 13:23] jdmgoogle commented on #238
@cjerdonek For the moment I'm going to assign this to you since it sounds like several of these items will get fixed once we roll in #255. After you submit #255 (or its next iteration) please check off the items which were resolved by that PR and then assign this issue to either @jungshadow or myself, please.

[2015-08-18 13:24] jdmgoogle commented on #247
Handing this off to @cjerdonek so he can say if this gets fixed with #255 or not. If it doesn't, then reassign to either @jungshadow or myself.

[2015-08-18 13:26] jdmgoogle commented on #245
Assigning this to @cjerdonek to see if this gets fixed in #255. If not, reassign back to @jungshadow or myself.

[2015-08-18 13:28] jdmgoogle commented on #243
Paging @jungshadow and @jen-tolentino for their opinions.

[2015-08-18 13:28] jdmgoogle commented on #45
@pstenbjorn In your opinion, what is left to do on this issue?

[2015-08-18 13:37] pstenbjorn commented on #45
@jdmgoogle I think this should be closed.

[2015-08-18 13:53] jdmgoogle commented on #45
@jungshadow @jen-tolentino @cjerdonek, do you have any additional comments?

[2015-08-18 14:56] jungshadow commented on #243
With a combination of a minimal approach and the best practices document, I think we can use @pstenbjorn's suggestion to make `Name` unbounded. I understand your concerns, @cjerdonek, but I'd rather not get caught up too much on this considering that address standards are barely standards and we probably won't capture all of the edge and use cases until this is operating in the wild and vetted by

[2015-08-18 15:06] jungshadow commented on #45
Let's close. We can open other issues when we need to add something new/specific or if we need to fix/remove something.

[2015-08-18 15:10] #45 closed

[2015-08-19 11:54] jdmgoogle commented on #243
Here's my proposal:

1. For version 5.0 leave the elements as they are, and update the best practices to provide some guidance as to what should go in `Name` versus what goes in `AddressLine`.
2. File a bug against version 5.1 to reevaluate whether this is working.
3. Go through the 2015 cycle and see how the incoming data looks.
4. After the 2015 cycle, discuss on the bug from step 2 if there are

[2015-08-19 14:53] jungshadow commented on #243
![Image of an owl with the word SUPERB](http://bukk.it/superb.jpg)

[2015-08-19 16:59] cjerdonek commented on #243
Okay, for (1), I think an important thing to do in the best practices guide and/or the element documentation itself would be to say what `Name` and `AddressLine` should look like for a real-world example like the following:

    California Secretary of State
    Elections Division
    1500 11th Street, 5th Floor
    Sacramento, CA 95814

[2015-08-19 17:07] jdmgoogle commented on #243
I agree.

[2015-08-20 11:55] jdmgoogle opened #267 "Evaluate use of ContactInfo Name/AddressLine best practices"
Given the data that came in during the 2015 cycle, we should evaluate the documented best practices surrounding the use of and guidance for putting information in the `Name` field and `AddressLine` fields of `ContactInformation`.

This is a follow-up to #243.

[2015-08-20 11:58] jdmgoogle commented on #243
I filed #267 to meet step (2) of the plan.

@cjerdonek Could you take a stab at describing the Name/AddressLine best practices? It doesn't have to be perfect, but just put a stake in the ground.

I know this isn't your preferred solution, but rather than have me come up with something that doesn't quite align with your feelings about what goes where, could you give it a shot and we'll go from ther

[2015-08-20 12:00] jdmgoogle commented on #243
Also, @jungshadow, I just noticed that that's the Superb Owl.

![image](https://cloud.githubusercontent.com/assets/10949127/9382756/814fe8a2-4711-11e5-99ba-3668b47b6364.png)

[2015-08-20 21:13] jungshadow commented on #243
Oh it's on now, @jdmgoogle!
![gif of a kangaroo dropping a ball](http://bukk.it/gotime.gif)

[2015-08-21 18:38] Josh-LACRRCC opened #268 "Party affiliations in an Open Primary election"
California uses Open Primary voting for contests other than President / County Central Committees (aka Voter Nominated). As such, LA County differentiates between formal party nominated affiliation and candidates’ self-selected party preference.
( http://www.voterguide.sos.ca.gov/en/voter-info/elections-in-california.htm )
In order to help clarify to voters these differences, there is additional t

[2015-08-21 18:44] jdmgoogle commented on #268
This approach seems reasonable to me.

@jungshadow and @cjerdonek (since Chris will also have to deal with these)?

[2015-08-21 18:46] jungshadow commented on #268
:+1: This sounds fine to me.

[2015-08-24 00:37] cjerdonek commented on #268
Hmm, it sounds like the suggestion is to create a second version of each Party object: the original Party object and a VN-prefixed version of the party.

But the party is actually the same party in both cases.  It's just being used in a different way.  In one way, the party has nominated or chosen the candidate, but in the California Top-Two primary way, the candidate's party preference is just be

[2015-08-24 14:06] jdmgoogle commented on #268
There is a `PartyId` field for the `Candidate` object. Would that work?

[2015-08-25 14:55] jungshadow commented on #268
@cjerdonek What say you, sir? Is `PartyId` on `Candidate` good for the time being?

[2015-08-25 17:50] cjerdonek commented on #268
Yes, I think so. There is the question of whether to display that information beneath a candidate's name in a contest, but I think that nuance can wait.  I'm not sure the extent to which VIP is aiming to capture ballot display, etc.

[2015-08-25 18:07] cjerdonek commented on #268
By the way, this discussion brings to mind a couple things that might be worth clarifying in the docs:

1. how to encode the lack of a party preference, as opposed to a preference that is simply missing (e.g. should jurisdictions encode ["no party preference"](http://www.sos.ca.gov/elections/political-parties/no-party-preference/) as a party with its own party ID)
2. is each candidate object suppo

[2015-08-26 13:00] jdmgoogle commented on #268
IMHO the goal should be to capture enough information such that

1. Someone **not** familiar with the specific ballot layout details (e.g., "each candidate much have name listed, then their party, then profession, then endorsing party") should be able to create a reasonable facsimile of a generic-looking ballot; and
2. Someone who **is** familiar with specific ballot layout details should be able

[2015-08-26 13:02] jdmgoogle commented on #243
@cjerdonek Just a quick ping to see if you can take a stab at updating the "best practices" doc to provide guidance, per [the earlier comment.](https://github.com/votinginfoproject/vip-specification/issues/243#issuecomment-132985839)

[2015-08-26 16:50] cjerdonek commented on #243
Sure (and sorry for the delay), I'll try to rough something out by tomorrow.

PS - I would never be able to compete with you guys on GIFs!

[2015-08-26 16:56] cjerdonek commented on #268
If the goal is to let people create a reasonable facsimile, then it seems like we'd need to put a flag on the CandidateContest object saying whether the following is true (i.e. whether candidate party preference should be displayed):

(This is the language from the SOS link that @Josh-LACRRCC first posted above.)

Maybe this can be for a future VIP release since it is an addition to the spec.

[2015-08-26 17:22] jdmgoogle commented on #268
I would argue that that's presentation logic, as opposed to content logic.

[2015-08-26 18:10] cjerdonek commented on #268
Okay, that's fine with me.

[2015-08-26 18:24] Josh-LACRRCC commented on #268
So, CandidateSelection.EndorsementPartyId would be the direct party endorsement (i.e. DNC/GOP endorsement for President) and, Canidate.PartyId would be the non-endorsed, candidate selected affiliation. The elements are optional, so that is easy enough to implement with while building a Feed file.

But, LAC see's the additional "party preference" text as a required piece of information. If a candid

[2015-08-26 18:32] jdmgoogle commented on #268
@Josh-LACRRCC  I think ultimately we're in agreement this is going to be an issue of how whatever piece of code is actually presenting the data contained in the feed handles this situation, as well as how the feed itself is generated. If LAC has a way to generate feeds in a way that handles Voter Nominated contests correctly, then I think we're set here.

[2015-08-26 18:35] jungshadow commented on #243
@cjerdonek It's actually a second language for us, so no worries ;)

[2015-08-26 19:06] cjerdonek commented on #268
I would rather see the spec changed than put counties in the situation of using the spec in the way that @Josh-LACRRCC is proposing.

For one, if LAC were to go that route, then LAC's list of parties would be different from every other county.  How would feed consumers know to skip over the "VN-prefixed" ones when displaying the list of parties to voters?

Also, someone using LAC's feed to auto-ge

[2015-08-26 19:11] jdmgoogle commented on #268
Question: Does California have "Endorsements" the same way that New York does? Or is "voter-nominated" the way California does New-York-style endorsements?

[2015-09-01 00:04] cjerdonek commented on #243
I created PR #271 for this.

[2015-09-01 13:24] cjerdonek commented on #243
Closed by PR #271.

[2015-09-01 13:24] #243 closed

[2015-09-02 15:08] cjerdonek commented on #255
I just posted PR #273 for Part 2 to address this issue.

[2015-09-03 19:13] jdmgoogle commented on #247
Closed by #274

[2015-09-03 19:13] #247 closed

[2015-09-03 19:13] jdmgoogle commented on #245
Closed by #274.

[2015-09-03 19:13] #245 closed

[2015-09-03 19:13] jdmgoogle commented on #238
Closed by #274.

[2015-09-03 19:13] #238 closed

[2015-09-03 19:36] jdmgoogle opened #275 "Improve RST generation so they display on GitHub"
Currently the RST files aren't viewable on GitHub because GitHub doesn't support the "include" directive in RST files. This means that right now only the headers are visible, and the embedded tables are not. I've spoken with @cjerdonek about how to fix this post-5.0, and the general idea is to have all the information necessary to generate the RST be in the YAML files.

[2015-09-03 19:39] jdmgoogle opened #276 "Remove sample code from RST files"
Quick question: Should we remove the sample code blocks from the documentation for the release, but add them back in at a later date? We already have the sample feed which contains all the elements (AFAICT). The current code blocks in the RST files are _mostly_ up-to-date, but several are
1. missing;
2. out-of-date; or
3. just plain wrong.

So should we remove them before release -- just to be con

[2015-09-03 23:53] cjerdonek commented on #268
I'm not sure what New York-style "endorsements" are, but no, I don't believe that California has them.  It's conceivable that some local elections in California have such a concept, though (e.g. partisan local elections).

Before 2012, California had partisan primaries for state offices, so some or all of the candidates on the ballot in the November general election were "party-nominated," which I

[2015-09-04 01:01] jdmgoogle commented on #255
Is there anything left on this particular issue which is *not* covered by #275?

[2015-09-04 01:10] jdmgoogle commented on #268
My preference -- since we're down to the wire -- is to try the 2015 cycle with the current schema and re-evaluate once a few different jurisdictions have a chance to play with real data (or data from 2014). This seems very California-specific and I'm incredibly hesitant to modify the schema by adding yet another place to list `PartyId` (it's already in `Person`, `Candidate`, and `CandidateSelectio

[2015-09-04 01:11] jdmgoogle commented on #276
Anyone?

@jungshadow @pstenbjorn @cjerdonek @jen-tolentino etc etc?

[2015-09-04 01:15] jdmgoogle commented on #179
Barring any last-minute changes because of #268 (which is highly unlikely) this will get closed out soon.

[2015-09-04 01:26] cjerdonek commented on #255
The only things I can think of are:

1. there was a request to document the Python code a little better (e.g. more docstrings), and
2. the error-related values in the YAML can be made more DRY (e.g. similar to what was done in PR #274 around error messages with the phrase, "ignore the ``parent`` element containing it").

But I would recommend creating separate issues for those rather than keeping

[2015-09-04 01:33] cjerdonek commented on #268
I don't see a rush either.  However, for the record, this type of primary system is also used in Louisiana and Washington states (and perhaps other states), in addition to California.  It's commonly called the "Top Two Primary."  See [here](https://en.wikipedia.org/wiki/Nonpartisan_blanket_primary) for more info.

As for modifying the schema, I wouldn't recommend adding another place for the party

[2015-09-04 01:36] cjerdonek commented on #276
If there isn't enough time to check and/or correct the samples, then I'd say remove the ones that are incorrect or that you're not sure about.  It seems better than including info in the release that is known to be incorrect.

[2015-09-04 01:43] jdmgoogle commented on #268
Okay. In that case I'm going to bump this out to 5.1 and we can figure it out then.

[2015-09-04 01:47] jungshadow commented on #276
@jdmgoogle @cjerdonek Can you post a quick example of wrong and point me at a missing (_**NB:** not next to a computer right now_)? The "missing" part is a bit odd to me, since I thought we had full coverage some time ago.

[2015-09-04 11:34] jdmgoogle opened #279 "Improve comments in python YAML code"
Right now the python code that parses the YAML documentation and generates the RST pages is lightly commented, which makes maintaining it more difficult. This needs to be improved.

[2015-09-04 11:35] jdmgoogle opened #280 "Improve off-the-shelf error message generation templates"
The error-related values in the YAML can be made more DRY (e.g. similar to what was done in PR #274 around error messages with the phrase, "ignore the parent element containing it").

[2015-09-04 11:35] jdmgoogle commented on #255
I filed issues #279 and #280 to keep track of those. Closing this now.

[2015-09-04 11:35] #255 closed

[2015-09-04 11:36] jdmgoogle opened #281 "Update HISTORY.md just prior to the 5.1 release"
Make sure the changelog (HISTORY.md) is up-to-date prior to release.

[2015-09-04 11:37] jdmgoogle opened #282 "Keep the sample feed synced to the 5.1 standard"
As we go through the 5.1 process, ensure that the sample feed is kept up-to-date with with actual spec.

[2015-09-04 18:44] #179 closed

[2015-09-04 18:45] #266 closed

[2015-10-02 18:17] jdmgoogle opened #287 "Add an OfficeGroup element"
The NIST standard has an [OfficeGroup](https://github.com/usnistgov/Voting/blob/5b906ce838dca95031bf68a4a198b24db3f34dcd/NIST_V1_election_results_reportingV49.xsd#L430) element which creates grouping of offices (e.g., "State House") for reporting purposes.

[2015-10-02 19:01] cjerdonek commented on #287
Can you be explain the proposal more fully?  For example, how would one know whether to form an OfficeGroup, and what if there is more than one way to do so?  It looks like there is also "OfficeCollection" and "SubOfficeGroup" to account for.  This looks like it could be trying to model the structure of government, which I thought we were trying to avoid?

[2015-10-02 19:11] jdmgoogle commented on #287
@cjerdonek Yeah, this goes back to #42 where you proposed an `OfficeBody` object and I argued against it. This might be better described as "up for discussion" than "enhancement" since I'm still not 100% sold on it, but my thinking has somewhat come around to what you were advocating back then. I've started writing code to parse NIST results feeds, and it turns out it would be useful to have that,

[2015-10-02 19:55] cjerdonek commented on #287
@jdmgoogle Yes, I was remembering that discussion.  Personally, my instinct is that as long as it's light-weight and does the minimum to support reporting, I think it should be okay.  If it goes beyond that (e.g. into modeling government hierarchy), I fear it could be too hard to develop a model in the desired timeframe that's adequate and evolvable going forward.  What might help here is having a

[2015-10-30 16:36] jdmgoogle opened #288 "Evaluate OASIS xNL name standard"
Evaluate the [OASIS xNL name standard](http://docs.oasis-open.org/election/eml/v7.0/cs01/external/CIQ-xNL-v4.xsd) to see if it'll be useful for VIP 5.1.

[2015-10-30 17:00] drrwebber commented on #288
As the author of that specification - please contact me offline to discuss this.
It will require a teleconference and webinar, so we can walk through this all.
Thanks, David

[2015-10-30 17:02] jdmgoogle commented on #288
Thank you. This probably isn't going to happen anytime soon -- I filed the issue more as a placeholder to remind me to circle back to this later -- but when I do get around to looking at the spec in earnest I will definitely contact you.

[2015-10-30 17:19] drrwebber commented on #288
That works. Over the holidays with a glass of fortifying beverage sounds good...

[2015-11-09 18:46] indymag opened #289 "Support for city-level wildcarding"
In VIP 3.0, we supported city-level wildcarding (all people in city X vote at location Y). This was done by requiring a * in the street_name field of the non_house_address.

Consider supporting the ability to model these types of assignments in the VIP 5.1 spec.

[2015-11-09 18:50] indymag opened #290 "Office level enumeration"
In VIP 5.0 the Office element doesn't contain an indicator about the "level" of government the office operates in.  This would be useful for applications that wish to filter or sort contests in a predictable way.  Example levels that would be useful in the US are:
* FEDERAL
* STATEWIDE
* CITYWIDE

An internationalized enumeration of levels can be seen in the Civic Info API documentation on levels:

[2015-11-10 14:53] indymag opened #291 "Specify a convention for candidate ordering and office ordering for CandidateSelection and CandidateContest"
A CandidateSelection, can list multiple candidates in case they are part of a ticket.  There should be a convention specified to say that they must be in the same order as the officeIds in the CandidateContest that they are associated with.    These candidates within each selection should be in the same order (e.g. c1[0] = 'Obama', c1[1] = 'Biden', c2[0] = 'Romney', c2[1] = 'Ryan').

This order sh

[2015-11-16 15:54] johnpwack commented on #291
Hi all,

In the NIST spec, we mention this, but I suspect I could make it more
clear.

For the CandidateContest element, I write:
"For cases when the contest is associated with multiple offices, e.g., if
Governor and Lt. Governor are both separate offices, it is expected that
the generating application will list the multiple references to <Office>
according to any ordering scheme in place."

For t

[2015-11-17 22:05] jdmgoogle commented on #118
Circling back to this. To update @cjerdonek's comment from earlier, the current address schemes uses in VIP 5.0 are:

1. the generic `AddressLines` elements in `PollingLocation` and `ContactInformation` (the latter of which is used in the NIST format); and
2. the `StreetSegment` object, which is basically nothing but an address now.

[2015-11-17 22:06] jdmgoogle commented on #166
Pinging @jktomer because we need to review the number and quantity of non-numeric addresses we've encountered.

Paging @kennethmbennett because LA County probably has a number of these in their jurisdiction, and we need to better understand their needs.

[2015-11-17 22:08] jdmgoogle commented on #262
Paging @jktomer: have we ever gotten bio data before? If so, did we ever use it?

[2015-11-17 22:10] jdmgoogle commented on #267
I'm not sure we have enough data to evaluate this now, but refreshing the bug so it's on my radar.

[2015-11-17 22:12] jdmgoogle commented on #268
@Josh-LACRRCC Provided an LA County data feed for us using 2014 data. Are you happy with how the spec itself was able to handle this data? Do you have any recommendations for best practices?

[2015-11-17 22:16] jdmgoogle commented on #287
Circling back on this, there are two possible ways to view this:

1. a grouping of offices into a single office body (e.g., "all of these offices are part of the House of Representatives"); or
2. a grouping of contests to be displayed together on a ballot under a common heading (e.g., "Federal", "State", "State Legislature", etc).

Which one of these more closely describes what you're looking for?

[2015-11-17 22:17] jdmgoogle commented on #289
Are there any objections to this feature?

[2015-11-17 22:19] jdmgoogle commented on #290
@pstenbjorn How easy/difficult would it be to get jurisdictions to use this and apply it consistently and correctly (where "this" is the set of enumerations in Chetan's link)?

@johnpwack What are your thoughts on including this enumeration in version 1.1 of NIST's ERR spec?

[2015-11-17 22:20] jdmgoogle commented on #291
I will update the best practices document and the sample feed to make this explicit.

[2015-11-17 22:21] jdmgoogle commented on #248
@cjerdonek Just looping you back in to get a sense of your current workload and availability for 5.1 stuff.

[2015-11-17 22:22] jdmgoogle commented on #275
I'm actually going to close this one out since people won't be reading the documentation here, they will be reading it (or should be reading it) on ReadTheDocs.

[2015-11-17 22:22] #275 closed

[2015-11-17 22:25] MariaDemocracyWorks commented on #262
We get it in some California counties I believe, and possibly also in Washington. I don't believe the field was ever surfaced by the API, so even where we got it, it wasn't used (or once was used because we entered into an unused party field). Is there a use case where there would be information in bio that wouldn't be covered by title or profession in person?

[2015-11-17 22:31] cjerdonek commented on #248
I'll have some time.  It's on my todo list in particular to work on this issue, as well as a couple of the other "build" related issues.  I expect to start working on those within the next couple weeks or so.

[2015-11-17 22:32] MariaDemocracyWorks commented on #290
Is this significantly different from the enumerations for Electoral District, which are fairly difficult to get jurisdictions to consistently apply?

[2015-11-17 22:34] jdmgoogle commented on #290
No, it's a different set of enumerations which will be fairly difficult to get jurisdictions to consistently apply. :)

[2015-11-17 22:34] cjerdonek commented on #248
I didn't see an issue for it (the discussion might only have been by e-mail), but the first thing I was going to do is move the header / footer / etc stuff to the YAML like you had suggested, @jdmgoogle.

[2015-11-18 17:14] jdmgoogle commented on #287
@johnpwack: Do you know if the motivating factor for this element was after-the-fact analysis (e.g., wanting to group similar contests), more accurate sample ballot creation, something different, or some combination of "all of the above"?

[2015-11-18 17:15] jdmgoogle commented on #248
@cjerdonek Okay, good to know. We should probably have a meeting this week just to scope out VIP 5.1 in general. If it's not this week, next week likely won't work (pre-Thanksgiving vacation), and then it's December.

[2015-11-18 23:46] Josh-LACRRCC commented on #166
Here are some LA County examples of edge-case addresses.

Full prefix/suffix address that might conflict with other localities street naming conventions:
"2317 West Garvey Ave N, West Covina, CA 91790" Which is not synonymous with an "Avenue N" style of street name.

Address with no start/end house numbers (zero's):
Marina addresses where the street name = slip # / berth #
"SLIP G-19, Marina Del R